/*
 *	Styles for Deutsch (German)
 */

 #addSlideButton > .slidesScrollbarButton {
	width: 83px;
	padding: 5px 0px;
	font-size: 11px;
}

#importButton > .slidesScrollbarButton {
	width: 83px;
	padding: 5px 0px;
	font-size: 11px;
}