<div class = "container">
  <div class = "row span12">
    <div class = "span2 centeri">
      <img width= "80%" heigth = "80%" src="/images/upm_logo.gif"/>
    </div>
    <div class = "span8 centeri">
      <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nunc id metus volutpat ornare eget non magna. Cras sed nunc eu nunc tincidunt dictum. Maecenas nulla nulla, pulvinar vel volutpat et, auctor vel erat. In tempus augue quis nibh suscipit et dictum nibh gravida. Proin posuere odio quam. In id orci nec sem gravida porttitor. Pellentesque posuere semper est eget rhoncus. Sed aliquam gravida vehicula. Nam dignissim justo vitae eros iaculis accumsan. Sed dignissim malesuada augue, a porta magna dignissim in. Proin dapibus vestibulum aliquam. Phasellus facilisis sollicitudin justo non hendrerit. Ut sagittis erat et est blandit vitae pharetra metus eleifend. Suspendisse adipiscing, ipsum tristique fermentum fringilla, nunc ligula auctor risus, quis pharetra orci magna sit amet ipsum. Pellentesque erat erat, pharetra ut pulvinar in, condimentum et lorem.               

        Maecenas vitae justo viverra libero pharetra pretium sit amet eget neque. Donec cursus mattis purus vitae varius. Nam eu eros ac arcu consequat feugiat. Maecenas imperdiet urna ut leo ultricies feugiat. Praesent tincidunt mollis est sit amet posuere. In venenatis malesuada metus, sed sagittis nunc malesuada eget. Etiam porta lorem ac metus commodo varius. Donec gravida dolor in elit placerat malesuada. Morbi auctor laoreet nisi, quis auctor felis congue vitae. Praesent scelerisque mi id urna convallis faucibus. Sed eu purus nisl, ac vestibulum tortor. Morbi sapien massa, sagittis ac facilisis id, malesuada vitae risus. Donec cursus facilisis massa non dapibus. Praesent bibendum gravida lectus, quis lacinia purus viverra id. Suspendisse scelerisque iaculis neque, in aliquam est porta sed. Aliquam pellentesque tempor sem, at rhoncus arcu dictum vitae. 
      </p>
    </div>
    <div class= "span1 centeri">
      <p> </p>
    </div>
    <div class= "span1 centeri">
      <p> </p>
    </div>
  </div>
  <div class = "contact">
    <div class = "row span1 space"><hr></div>
    <div class = "row span1 reflected">
      <p>Contact</p>
    </div>
    <div class = "row span8 space">
      <hr>
    </div>
    <div class = "row span1 space"></div>
    <div class = "row span12 fontcolor info">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and e leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      </p>
    </div>
  </div>
</div>
<div class="push"></div>