<script> var vEmail = "<%=email%>" </script>
<script type="text/javascript" src="/javascripts/view.aboutus.js"></script>

<div class = "container">
  <div class = "row span12 aboutUsContainer">
    <div class = "span2 centeri">
      <img class="aboutUsLogo" src="/images/upm_logo.gif"/>
    </div>
    <div class = "span8 centeri">
      <p> 
        <span class="aboutUsHightligth">Vish Editor</span> has been developed inside the <span class="aboutUsHightligthLow"> New Internet Generation </span> group of the <span class="aboutUsHightligthLow">Telematic Systems Engineering Department</span> of the UPM ( <span class="aboutUsHightligthLow">Universidad Politécnica de Madrid</span> ).               
      </p>
       <p> 
        We are a group specializing in rich internet applications, social networks, collaborative software and internet technologies.
      </p> 
      <p>&nbsp;</p>
      <p class="aboutUsAuthors"> Authors </p>
      <p class="aboutUsAuthor"><a href="https://github.com/ebarra" target="_blank">Enrique Barra Arias</a></p>
      <p class="aboutUsAuthor"><a href="https://github.com/agordillo" target="_blank">Aldo Gordillo Méndez</a></p>
      <p class="aboutUsAuthor">Graphic design by <a href="https://github.com/ntoribio" target="_blank">Néstor Toribio Ruiz</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class= "span1 centeri">
      <p> </p>
    </div>
    <div class= "span1 centeri">
      <p> </p>
    </div>
  </div>
  <div class = "contact">
    <div class = "row span1 space"><hr></div>
    <div class = "row span1 reflected">
      <p>Contact</p>
    </div>
    <div class = "row span8 space">
      <hr>
    </div>
    <div class = "row span1 space"></div>
    <div class = "row span12 info">
      <p> Help us keep improving Vish Editor! </p>
      <p class="pnomargin"> 
        Here’s your chance to tell us what you think! 
      </p>
      <p> 
        We'll be happy to get your opinions, suggestions or bug notifications. 
      </p>
      <p class="pnomargin">
        Please take a moment to give your feedback by sending us an email to <a id="vishEditorEmail" href=""><span class="vishEditorEmail"></span></a> .
      </p>
    </div>
  </div>
</div>