<div class = "row span12 text fontcolor examplesHeader">
    <div class = "row span1 space">
      <hr>
    </div>
    <div class = "row span1 reflected">
        <p>Examples</p>
    </div>
    <div class = "row span8 space line">
      <hr>
    </div>
    <div class = "row span1 space"></div>
</div>
<div class = "row span12 examples">
  <div class = "span1 space"></div>
  <div class = "span2 example">
      <a href='http://vishub.org/excursions/44'><img class="image_example" src="http://vishub.org/assets/logos/original/excursion-81.png"/></a>
  </div>
  <div class = "span1 space"></div>
  <div class = "span2 example">
      <a href='http://vishub.org/excursions/67'><img class="image_example" src="http://vishub.org/assets/logos/original/excursion-65.png"/></a>
  </div>
  <div class = "span1 space"></div>
  <div class = "span2 example">
      <a href='http://vishub.org/excursions/38'><img class="image_example" src="http://vishub.org/assets/logos/original/excursion-34.png"/></a>
  </div>
  <div class = "span1 space"></div>
</div>