<div class = "row span9">
    <img class ="span2 ico" src="/images/www_black-01n.png"/>
    <p  class ="span2 parrafo">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>      
    <img class ="span2 ico marg" src="/images/editn.png"/>        
    <p class ="span2 parrafo">
      Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
    </p>
</div>
<div class = "row span9 spaceFeatures">
  
  <img class ="span2 ico" src="/images/slide_blackn.png"/>
  <p class ="span2 parrafo">
    Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
  </p>
  
  <img class ="span2 ico marg" src="/images/mobilen.png"/>  
  <p class ="span2 parrafo">
    Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
  </p>                                
</div>