<div class = "row span12 text fontcolor">
    <div class = "row span1 space">
      <hr>
    </div>
    <div class = "row span1 reflected">
        <p>Features</p>
    </div>
    <div class = "row span8 space line">
      <hr>
    </div>
    <div class = "row span1 space"></div>
</div>
<div class = "row span12 text fontcolor features">
  <div class = "row span12 rowFeatures">
      <div class="span5 feature">
            <img class ="featureIcon" src="/images/feature_pres.png"/>
            <p  class ="span3 featureTitle">
              Web Presentations
            </p> 
            <p class="span3 featureDescription">
              Create amazing <span class="featureDescriptionHightligth">HTML5</span> presentations in a simple and friendly way.
            </p>
      </div>
      <div class="span5 feature">
            <img class ="featureIcon" src="/images/feature_share.png"/>
            <p  class ="span3 featureTitle">
              Easy saving and sharing
            </p> 
            <p class="span3 featureDescription">
              Store your presentations in the cloud or download to your computer.
            </p>  
            <p class="span3 featureDescription">
              Share your presentations on Twitter and Facebook, by url or embed in your website.
            </p>
      </div>
  </div>

  <div class = "row span12 rowFeatures spaceFeatures">
      <div class="span5 feature">
            <img class ="featureIcon" src="/images/feature_content.png"/>
            <p  class ="span3 featureTitle">
              Import Media Content
            </p> 
            <p class="span3 featureDescription">
              Import images, videos, flash objects, PDFs, webs, real-time content and much more!
            </p> 
            <p class="span3 featureDescription">
              Import resources from Flickr, YouTube, Vimeo and other websites.
            </p>  
      </div>
      <div class="span5 feature">
            <img class ="featureIcon" src="/images/feature_responsive.png"/>
            <p  class ="span3 featureTitle">
              Mobile and Tablet support
            </p> 
            <p class="span3 featureDescription">
              View your presentations in your mobile phone, tablet or Ipad.
            </p>  
      </div>
  </div>
</div>