<div class = "container">
  <div class = "row span12 contenido">
    <div class = "span3 centeri">
      <p> </p>
    </div>
    <div class="centrarVideo">
      <div class="modal hide video" id="myModal">
        <iframe width="640" height="480" src="http://www.youtube.com/embed/GLbQUYq8x-o" autohide="1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="play" class="btn" data-toggle="modal" href="#myModal" >
        <p> </p>
      </div>  
      <div class = "span5 centeri centrar tele">
        <img class= "imagen" src="/images/sketchboard-02-01.png"/>
      </div>  
    </div>                                     
    <div class = "span3 centeri">
      <p> </p>
    </div>
  </div>
  <div class= "contenido">        
    <div class = "row span1 space">
      <hr>
    </div>
    <div class = "row span1 reflected">
      <p>Examples</p>
    </div>
    <div class = "row span10 space line">
      <hr>
    </div>
    <div class = "row span1 space"></div>
    <div class = "row span12 examples">
      <div class = "span1 space"></div>
      <div class = "span2 example"></div>
      <div class = "span1 space"></div>
      <div class = "span2 example"></div>
      <div class = "span1 space"></div>
      <div class = "span2 example"></div>
      <div class = "span1 space"></div>
    </div>
  </div>
</div>
<div class="push"></div>