<div class = "container">
  <div class= "span1 centeri">
    <p></p>
  </div>
  <div class = "span1 centeri">
    <p> </p>
  </div>
  <div class = "span5 centeri">
    <img id = "mainimage" width="100%" height="100%" src="images/show_big.png" >
  </div>
  <div class = "span1 centeri" >
    <p></p>
  </div>
  <div id ="login">
    <div class = "span3 centeri sign_box">
      <%- partial('partials/sign_in') %>
    </div>
    <div class = "span4 centeri sign_box signup_space">
      <%- partial('partials/sign_up') %>
    </div>
  </div>
  <div class= "span1 centeri">
    <p> </p>
  </div>
  <div class = "row span12 contenido">
    <div class = "row span1 space">
      <hr>
    </div>
    <div class = "row span1 reflected">
        <p>Features</p>
    </div>
    <div class = "row span8 space line">
      <hr>
    </div>
    <div class = "row span1 space"></div>

    <div class = "row span12 text fontcolor features">
      <div class = "row span9">
          <img class ="span2 ico" src="images/www_black-01n.png"/>
          <p  class ="span2 parrafo">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>      
          <img class ="span2 ico marg" src="images/editn.png"/>        
          <p class ="span2 parrafo">
            Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
          </p>
      </div>
      <div class = "row span9 spaceFeatures">
        
        <img class ="span2 ico" src="images/slide_blackn.png"/>
        <p class ="span2 parrafo">
          Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
        </p>
        
        <img class ="span2 ico marg" src="images/mobilen.png"/>  
        <p class ="span2 parrafo">
          Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
        </p>                                
      </div>
    </div>
  </div>
</div>
<div class="push"></div>