<div class="metadata row span9 text fontcolor">
		<p class="metadata_title"> Title: <%=presentation.title%> </p>
		<p class="metadata_author"> Author: <%=author%> </p>
		<p class="metadata_description"> <%=presentation.description%> </p>
</div>