<div class="presentationActionBar">
		<a class="embedlink" presentationId="<%=presentation._id%>"> 
			<img class="actions" src="/images/embedIcon.png"/>
		</a>
		<a class="sharelink" presentationId="<%=presentation._id%>"> 
			<img class="actions" src="/images/share.png"/>
			<span class="sharePresentation">Share presentation</span>
		</a>
		
</div>