<form id="loginform" action="/login" method="post">
  <input type="text" class="input-large email" name="<%=everyauth.password.loginFormFieldName%>" placeholder="username"/>
  <br>
  <input type="password" class="input-medium password" name="<%=everyauth.password.passwordFormFieldName%>" placeholder="password"/> 
  <button type="submit" class="btn boton btn-primary" id="sign_in_button">Sign in</button>  
</form>