/node_modules
/data
/configuration/configuration.js
public/vishEditor/configuration/configuration.js

public/vishEditor/.DS_Store
public/vishEditor/.project
public/vishEditor/rails/compiler/
public/vishEditor/rails/lib/
public/vishEditor/.settings
public/vishEditor/rails/.rvmrc
public/vishEditor/.externalToolBuilders/

.gitignore~
README.md~
