<html>
  <head>
    <title> Vish Editor Standalone</title>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
  </head>
  <body>
    <div id="container">
      <div class="hero-unit">
        <h1> Authorization Error </h1>
        <p><a href="/home" class="btn btn-primary btn-large"> <Learn> Go Home </Learn></a></p>
      </div>
      <div id="footer">
        <a href="https://github.com/ging/vish_editor_standalone"> Vish Editor on GitHub</a>
      </div>
    </div>
  </body>
</html>