<html xmlns:fb="http://www.facebook.com/2008/fbml">

  <head>
    <title> Vish Editor Standalone</title>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/javascripts/VISHWS.js"></script>
    <script type="text/javascript" src="/javascripts/VISHWS.CORE.js"></script>
    <script type="text/javascript" src="/javascripts/VISHWS.VALIDATION.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <meta property="og:title" content="Vish Editor" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:image" content="http://www.example.com/vishEditor/images/vishEditorLogo.png" />
    <meta property="og:site_name" content="Vish Editor" />
  </head>
  <body>
    <div id="container" class="wrapper">
      <div id="header">
        <%- partial('partials/header') %>
      </div>

      <div id="content">
        <%- body %>
      </div>

      <div class="row span12 center" id="footer">
        <%- partial('partials/footer') %>
      </div>

    </div>
  </body>
</html>