/*
	TEMPLATE 1: "t1"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t1_header{
    float: left;
    height: 14%;
    margin-left: 16%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 68%;
	z-index: 10px;
}

.t1_left{
    height: 72%;
    margin-left: 16%;
    margin-top: 1%;
    overflow: hidden;
    position: relative;
    width: 68%;
}

.t1_subheader{
    float: left;
    height: 5%;
    margin-left: 16%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 68%;
}

.t1_image{
	border: none;
}

.t1_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t1_object{
	width: 100%;
	height: 100%;
	border: none;
}


.t1_swf{
	width: 100%;
	height: 100%;
	border: none;
}

/*
	TEMPLATE 2: "Espiritu minimalista"
	by Víctor Sánchez

	Dos elementos título + imágen fullscreen
*/


.t2_left{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.t2_image{
	border: none;
}

.t2_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t2_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t2_applet{
	width: 100%;
	height: 100%;
	border: none;
}

.t2_swf{
	width: 100%;
	height: 100%;
	border: none;
}

.template_flashcard{
	width: 100%;
	height: 100%;
}

/*
	TEMPLATE 2: "Espiritu minimalista"
	by Víctor Sánchez

	Dos elementos título + imágen fullscreen
*/

.t3_header{
	height: 10%;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10px;
}

.t3_left{
	position:relative;
	margin-top: 2%;
	width: 100%;
	height: 85%;
	float: left;
	overflow:hidden;
}

.t3_image{
	border: none;
}

.t3_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t3_object{
	width: 100%;
	height: 100%;
	border: none;
}


.t3_applet{
	width: 100%;
	height: 100%;
	border: none;
}

.t3_swf{
	width: 100%;
	height: 100%;
	border: none;
}

.template_flashcard{
	width: 100%;
	height: 100%;
}

/*
	TEMPLATE 4: "t4"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t4_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t4_left{
	margin-top:2%;
	position:relative;
	width: 100%;
	height: 64%;
	float: left;
	overflow:hidden;	
}

.t4_right{
	margin-top: 2%;
	position:relative;
	width: 100%;
	height: 23%;
	float: left;
	overflow:hidden;	
}

.t4_image{
	border: none;
}

.t4_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t4_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t4_swf{
	width: 100%;
	height: 100%;
	border: none;
}


/*
	TEMPLATE 1: "Espiritu minimalista"
	by Víctor Sánchez

	Tres bloques: título + texto + imágen;
*/

.t5_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t5_left{
	margin-top: 2%;
	position:relative;
	width: 48%;
	height: 86%;
	float: left;
	overflow:hidden;
}

.t5_right{
	margin-top: 2%;
	position:relative;
	width: 48%;
	height: 86%;
	float: right;
	overflow:hidden;
}

.t5_image{
	border: none;
}

.t5_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t5_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t5_swf{
	width: 100%;
	height: 100%;
	border: none;
}

/*
	TEMPLATE 5: "t5"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t6_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t6_left{
    float: left;
    height: 89%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 31%;
}

.t6_center{
    float: right;
    height: 89%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 31%;	
}
.t6_right{
    float: left;
    height: 89%;
    margin-left: 2%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 34%;
}

.t6_image{
	border: none;
}

.t6_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t6_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t6_swf{
	width: 100%;
	height: 100%;
	border: none;
}


/*
	TEMPLATE 3: "3 blocks"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t7_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t7_left{
	margin-top:2%;
	position:relative;
	width: 33%;
	height: 88%;
	float: left;
	overflow:hidden;	
}

.t7_center{
	margin-top: 2%;
	position:relative;
	width: 63%;
	height: 73%;
	float: right;
	overflow:hidden;	
}
.t7_subheader {
	margin-top: 2%;
	position:relative;
	width: 63%;
	height: 11%;
	float: right;
	overflow:hidden;	
}

.t7_image{
	border: none;
}

.t7_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t7_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t7_swf{
	width: 100%;
	height: 100%;
	border: none;
}

/*
	TEMPLATE 7: "t7"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t8_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t8_left{
	margin-top: 2%;
	position:relative;
	width: 33%;
	height: 40%;
	float: left;
	overflow:hidden;	
}

.t8_center{
	margin-top: 2%;
	position:relative;
	width: 64%;
	height: 88%;
	float: right;
	overflow:hidden;	
}
.t8_right{
	margin-top: 2%;
	position:relative;
	width: 33%;
	height: 44%;
	float: left;
	overflow:hidden;	
}

.t8_image{
	border: none;
}

.t8_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t8_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t8_swf{
	width: 100%;
	height: 100%;
	border: none;
}

/*template 9*/

.t9_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

.t9_left{
	margin-top: 2%;
	position:relative;
	width: 62%;
	height: 40%;
	float: left;
	overflow:hidden;	
}

.t9_center{
	margin-top: 2%;
	position:relative;
	width: 35%;
	height: 88%;
	float: right;
	overflow:hidden;	
}
.t9_right{
	margin-top: 2%;
	position:relative;
	width: 62%;
	height: 44%;
	float: left;
	overflow:hidden;	
}

.t9_image{
	border: none;
}

.t9_video{
	width: 100%;
	height: 100%;
	border: none;
}

.t9_object{
	width: 100%;
	height: 100%;
	border: none;
}

.t9_swf{
	width: 100%;
	height: 100%;
	border: none;
}


/*
	OPEN QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only question, name and answer
*/

.t10_left{
	text-align:center;
	margin-top: 2%;
	position:relative;
	width: 100%;
	height: 80%;
	float:left;
	overflow:hidden;	
}

.t10_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 10px;
}

/*
.question{
	padding-top: 5%;
 	padding-bottom: 2%;
	margin-top: 2%;
	margin-left: 2%;
	padding-left: 1%;
	margin-right: 1%;
	padding-right: 1%;
	width: 98%;
	font-size: 1.3em;
	font-weight: bold;
	position:relative;
	}
	*/
.question {
	background: none repeat scroll 0 0 #F9F9F9;
	border-radius: 0.4em 0.4em 0em 0em;
	color: #FF005D;
	display: block;
	font-family: Helvetica;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.5em 1.5em;
	text-decoration: none;
	text-align: left;	
	line-height: 120%;
	
		
	}
	
	

.question_name{
	padding-top: 3%;
	padding-bottom: 1%;
	padding-left: 8%;
	padding-right: 5%;
	display: block;
	text-align: left;
	color: black;
	font-size: 1.3em;
	
}

.question_name_input{
	background: none no-repeat scroll 5px 50% transparent;
    border: 0.1em solid #9B999D;
    border-radius: .5em .5em .5em .5em;
    font-family: Helvetica;
    outline: 0 none;
    padding: .25em .25em;
     z-index: 1000;
	
	font-size: 1.2em;
	
	position:relative;
}

.label_question{
	padding-top: 3%;
	padding-bottom: 1%;
	padding-left: 8%;
	padding-right: 5%;
	display: block;
	text-align: left;
	color: black;
	font-size: 1.3em;
	
}


.question_answer{
	
	background: none no-repeat scroll 1% 50% transparent;
    border: 0.1em solid #9B999D;
    border-radius: .5em .5em .5em .5em;
    font-family: Helvetica;
    outline: 0 none;
    padding: .25em .25em;
    z-index: 1000;
	color: black;
	font-size: 1.2em;
	}

.question_button{
	padding-top: 1%;
	padding-bottom: 1%;
	color: black;
	font-size: 1.2em; 
	text-align:center;
	display:block;
	float: right;
	margin-right: 10%;
	
	}

/*	MULTIPLE CHOICE	QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only one question, and multiple choice answer
*/

.t11_left{
	margin-top: 2%;
	position:relative;
	width: 80%;
	height: 70%;
	float: left;
	overflow:hidden;	
}


.t11_header{
	height: 10%;
	width: 100%;
	overflow:hidden;	
	position: relative;
	z-index: 2%;

}
.mc_answer{
	text-align: justify;
	color: black;
	font-size: 1.2em;
	display: block;
	margin-left: 2%;
}

.mc_answer input{
	margin: 1% 2% 0% 1%;
}


/* Snapshots */

div.snapshot_wrapper_viewer{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position : relative;
}

iframe.snapshot_content_viewer{
  border: none;
  position : absolute;
  width    : 1024px;
  height   : 12000px;
  overflow: hidden;
  
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  
}

