/*
	TEMPLATE 1: "t1"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t1_header{
    float: left;
    height: 13%;
    margin-left: 16%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 68%;
}

.t1_left{
    height: 73%;
    margin-left: 16%;
    margin-top: 1%;
    overflow: hidden;
    position: relative;
    width: 68%;
}

.t1_subheader{
    float: left;
    height: 6%;
    margin-left: 16%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 68%;
}

.t1_image{
	border: none;
}

.t1_video{
	border: none;
}

.t1_object{
	border: none;
}

.t1_swf{
	border: none;
}

/*
	TEMPLATE 2: "Espiritu minimalista"
	by Víctor Sánchez

	Dos elementos título + imágen fullscreen
*/


.t2_left{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.t2_image{
	border: none;
}

.t2_video{
	border: none;
}

.t2_object{
	border: none;
}

.t2_applet{
	border: none;
}

.t2_swf{
	border: none;
}

.template_flashcard{
	width: 100%;
	height: 100%;
}

/*
	TEMPLATE 2: "Espiritu minimalista"
	by Víctor Sánchez

	Dos elementos título + imágen fullscreen
*/

.t3_header{
	height: 9%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.t3_left{
	position:relative;
	margin-top: 2%;
	width: 100%;
	height: 86%;
	float: left;
	overflow:hidden;
}

.t3_image{
	border: none;
}

.t3_video{
	border: none;
}

.t3_object{
	border: none;
}

.t3_applet{
	border: none;
}

.t3_swf{
	border: none;
}

.template_flashcard{
	width: 100%;
	height: 100%;
}

/*
	TEMPLATE 4: "t4"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t4_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t4_left{
	margin-top:2%;
	position:relative;
	width: 100%;
	height: 65%;
	float: left;
	overflow:hidden;	
}

.t4_right{
	margin-top: 2%;
	position:relative;
	width: 100%;
	height: 24%;
	float: left;
	overflow:hidden;	
}

.t4_image{
	border: none;
}

.t4_video{
	border: none;
}

.t4_object{
	border: none;
}

.t4_swf{
	border: none;
}


/*
	TEMPLATE 1: "Espiritu minimalista"
	by Víctor Sánchez

	Tres bloques: título + texto + imágen;
*/

.t5_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t5_left{
	margin-top: 2%;
	position:relative;
	width: 48%;
	height: 87%;
	float: left;
	overflow:hidden;
}

.t5_right{
	margin-top: 2%;
	position:relative;
	width: 48%;
	height: 87%;
	float: right;
	overflow:hidden;
}

.t5_image{
	border: none;
}

.t5_video{
	border: none;
}

.t5_object{
	border: none;
}

.t5_swf{
	border: none;
}

/*
	TEMPLATE 5: "t5"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t6_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t6_left{
    float: left;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 31%;
}

.t6_center{
    float: right;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 31%;	
}
.t6_right{
    float: left;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    overflow: hidden;
    position: relative;
    width: 34%;
}

.t6_image{
	border: none;
}

.t6_video{
	border: none;
}

.t6_object{
	border: none;
}

.t6_swf{
	border: none;
}


/*
	TEMPLATE 3: "3 blocks"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t7_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t7_left{
	margin-top:2%;
	position:relative;
	width: 33%;
	height: 89%;
	float: left;
	overflow:hidden;	
}

.t7_center{
	margin-top: 2%;
	position:relative;
	width: 63%;
	height: 74%;
	float: right;
	overflow:hidden;	
}
.t7_subheader {
	margin-top: 2%;
	position:relative;
	width: 63%;
	height: 12%;
	float: right;
	overflow:hidden;	
}

.t7_image{
	border: none;
}

.t7_video{
	border: none;
}

.t7_object{
	border: none;
}

.t7_swf{
	border: none;
}

/*
	TEMPLATE 7: "t7"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t8_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t8_left{
	margin-top: 2%;
	position:relative;
	width: 33%;
	height: 41%;
	float: left;
	overflow:hidden;	
}

.t8_center{
	margin-top: 2%;
	position:relative;
	width: 64%;
	height: 89%;
	float: right;
	overflow:hidden;	
}
.t8_right{
	margin-top: 2%;
	position:relative;
	width: 33%;
	height: 45%;
	float: left;
	overflow:hidden;	
}

.t8_image{
	border: none;
}

.t8_video{
	border: none;
}

.t8_object{
	border: none;
}

.t8_swf{
	border: none;
}

/*template 9*/

.t9_header{
	height: 9%;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t9_left{
	margin-top: 2%;
	position:relative;
	width: 62%;
	height: 41%;
	float: left;
	overflow:hidden;	
}

.t9_center{
	margin-top: 2%;
	position:relative;
	width: 35%;
	height: 89%;
	float: right;
	overflow:hidden;	
}
.t9_right{
	margin-top: 2%;
	position:relative;
	width: 62%;
	height: 45%;
	float: left;
	overflow:hidden;	
}

.t9_image{
	border: none;
}

.t9_video{
	border: none;
}

.t9_object{
	border: none;
}

.t9_swf{
	border: none;
}


/*
 * Special iframe
 */


div.special {
    width    : 600px;
    height   : 485px;
    overflow : hidden;
    position : relative;
		margin-top: 60px;
		margin-left: 60px;
}

iframe.special{
    position : absolute;
    top      : -150px;
    left     : -190px;
    width    : 1280px !important;
    height   : 1200px !important;
		overflow: hidden;
}


/*
	OPEN QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only question, name and answer

.question_title{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	margin-left: -60px;
	padding-left: 60px;
	margin-right: -60px;
	padding-right: 60px;
	font-size: 1.500em;
	min-height: 24px;
	width: 99%;
}

.question_name{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.question_name_input{
	width: 600px;
}

.question_answer{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.question_answer_input{
	width: 600px;
	height: 300px;
	display: block;
}

.question_button{
	margin-left: 300px;
}

	MULTIPLE CHOICE	QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only question, and multiple choice answers

.mc_answer{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.mc_answer input{
	margin: 3px 10px 0px 5px;
}

*/
