/*
 *	styles for explorer
 */
 
.slides {
	background-color: #ededed;
	background-position: top;
	background-image:url(/images/background_ie.png);
	background-repeat: no-repeat !important;	
}