/*
 *	Styles for Internet Explorer 9+
 */

#toolbar_text {
	margin-top: -30px !important;
}

#forward_arrow:hover{
  	cursor: url(right-pointer.png),url(/vishEditor/images/cursor/right-pointer.png), default;
}

#back_arrow:hover{
	cursor: url(left-pointer.png),url(/vishEditor/images/cursor/left-pointer.png), default;
}

#toolbar_element {
	margin-top: 15px;
	border-left: none;
}

.toolbar_presentation_wrapper_disabled.withLeftBorder {
border-left: 1px solid #A3A3A3 !important;
border-right: 1px solid #A3A3A3 !important;
}

#ssbaccept {
	position: relative;
	float: right;
	margin-right: 375px !important;
}

.formsizefancy2 {
	width: 270px;
}

.toolbar_icon {
	margin-top: -15px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('http://vishub.org/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://vishub.org/fonts/OpenSans-Semibold-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('http://vishub.org/fonts/OpenSans-Light-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('http://themes.googleusercontent.com/static/fonts/droidsansmono/v2/ns-m2xQYezAtqh7ai59hJaH0X__W3S3MJL29bc5CWfs.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://vishub.org/fonts/OpenSans-Regular-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://vishub.org/fonts/OpenSans-Bold-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('http://vishub.org/fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('http://vishub.org/fonts/OpenSans-BoldItalic-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('http://vishub.org/fonts/OpenSans-BoldItalic-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://vishub.org/fonts/OpenSans-Light-webfont.ttf') format('ttf');
}