section.slides > article:not(.slideset_slide), section.slides > article article.subslide {
  background-color: transparent;
  border: none;
  background: url(/vishEditor/images/themes/theme11/bg.png) top;
  background-size: 100% 100%;
  box-shadow: 0 20px 0px rgba(0, 0, 0, 0);
  moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0);
  webkit-box-shadow: 0 20px 0px rgba(0, 0, 0, 0);
  padding-top: 6%;
  padding-bottom: 7%;
  padding-left: 7%;
  padding-right: 7%;
}

section.slides > article.slideset_slide {
  background-color: transparent;
  border: none;
}

.slides > article > div.vezone {
  background-color: rgba(255, 255, 255, 0.3);
}


.slides > article[template='t10'] > div.t10_center {
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  float: left;
  height: 82%;
  left: 6%;
  padding-left: 3%;
  padding-top: 2%;
  top: 8%;
  overflow: hidden;
  position: absolute;
  width: 86%;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.slides > article[template='t2'] > div.t2_left {
  top: 4%;
  left: 3%;
  height: 94%;
  width: 94%;
  overflow: hidden;
  position: relative;
}

section.slides {
  background: rgb(181,189,200); /* Old browsers */
  background:  -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
  background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
  background:  -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
  background:  -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
  background:  -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
  background:  linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}


.t13_circle .zone_tooltip {
  margin: 37% 0 0 25%;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  float: left;
}

.t14_circle1 .zone_tooltip, .t14_circle2 .zone_tooltip, .t14_circle3 .zone_tooltip {
  margin-top: 41px;
  margin-left: 11px;
  vertical-align: middle;
  width: 84%;
  height: 100%;
  float: left;
}

.t14_right1 .zone_tooltip, .t14_right2 .zone_tooltip, .t14_right3 .zone_tooltip {
  vertical-align: middle;
  width: 84%;
  height: 100%;
  float: left;
  margin-top: 46px;
}

.t15_left .zone_tooltip, .t15_center .zone_tooltip, .t15_right .zone_tooltip {
  vertical-align: middle;
  width: 84%;
  height: 100%;
  float: left;
  margin-top: 44px;
margin-left: 26px;
}

.t15_center2 .zone_tooltip, .t4_left .zone_tooltip  {
  vertical-align: middle;
  width: 84%;
  height: 100%;
  float: left;
margin-top: 105px;
}

.t13_header .zone_tooltip, .t9_header .zone_tooltip, .t8_header .zone_tooltip, .t7_header .zone_tooltip, .t5_header .zone_tooltip, .t6_header .zone_tooltip, .t3_header .zone_tooltip, .t4_header .zone_tooltip {
  vertical-align: middle;
  width: 84%;
  height: 100%;
  float: left;
margin-top: 13px;
}

.t13_left .zone_tooltip {
vertical-align: middle;
width: 91%;
height: 100%;
float: left;
margin-top: 144px;
margin-left: 13px;
}

.t13_right .zone_tooltip {
vertical-align: middle;
width: 83%;
height: 100%;
float: left;
margin-top: 10px;
margin-left: 30px;
}

.t12_right1 .zone_tooltip, .t12_right2 .zone_tooltip, .t12_left1 .zone_tooltip, .t12_left2 .zone_tooltip {
  vertical-align: middle;
width: 83%;
height: 100%;
float: left;
margin-top: 84px;
margin-left: 27px;
}

.t11_center1 .zone_tooltip, .t11_center2 .zone_tooltip, .t11_center3 .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
 margin-top: 49px;
}

.t10_center .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 207px;
}

.t1_left .zone_tooltip {
  vertical-align: middle;
  width: 56%;
  height: 100%;
  float: left;
margin-top: 129px;
margin-left: 92px;
}

.t1_header .zone_tooltip {
  vertical-align: middle;
  width: 56%;
  height: 100%;
  float: left;
  margin-top: 23px;
  margin-left: 100px;
}

.t2_left .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
margin-top: 188px;
}

.t3_left .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
margin-top: 153px;
}

.t4_right .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
 margin-top: 40px;
}

.t1_subheader .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 7px;
}

.t9_right .zone_tooltip, .t9_left .zone_tooltip {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 78px;
}

.t5_left .zone_tooltip, .t5_right .zone_tooltip {
  vertical-align: middle;
  width: 55%;
  height: 100%;
  float: left;
  margin-top: 148px;
margin-left: 69px;
}

.t9_center .zone_tooltip, .t7_left .zone_tooltip, .t6_left .zone_tooltip, .t6_center .zone_tooltip, .t6_right .zone_tooltip {
  vertical-align: middle;
  width: 75%;
  height: 100%;
  float: left;
  margin-top: 158px;
margin-left: 30px;
}

.t8_center .zone_tooltip {
  vertical-align: middle;
  width: 59%;
  height: 100%;
  float: left;
  margin-top: 145px;
margin-left: 95px;
}

.t7_center .zone_tooltip {
  vertical-align: middle;
  width: 59%;
  height: 100%;
  float: left;
  margin-top: 113px;
margin-left: 96px;
}

.t7_subheader .zone_tooltip {
  vertical-align: middle;
  width: 59%;
  height: 100%;
  float: left;
  margin-top: 16px;
margin-left: 80px;
}

.t8_right .zone_tooltip, .t8_left .zone_tooltip {
  vertical-align: middle;
  width: 62%;
  height: 100%;
  float: left;
margin-top: 72px;
margin-left: 41px;
}
