section.slides article[type='standard'] {
	background-color: transparent;
	border: none;
	background: url(/vishEditor/images/themes/theme9/bg.png) top;
	background-size: 100% 100%;
	padding-top: 9%;
	box-shadow: 10px 33px 6px rgba(0, 0, 0, 0.04);
	moz-box-shadow: 10px 33px 6px rgba(0, 0, 0, 0.04);
	webkit-box-shadow: 10px 33px 6px rgba(0, 0, 0, 0.04)
}

section.slides > article > div.vezone, section.slides > article > article > div.vezone {
	background-color: rgba(207, 207, 207, 0.4);
}

div.vezone > span.zone_tooltip {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #AFAFAF;
}

section.slides {
	background: rgb(254,254,254); /* Old browsers */
	background:  -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(49%,rgba(209,209,209,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background:  -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background:  -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background:  -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%); /* IE10+ */
	background:  linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

section.slides article[type='standard'][template='t10'] > div.t10_center {
	margin: 8% 0% 0% 0%;
	width: 100%;
	height: 92%;
}

div.vezone.t13_circle > span.zone_tooltip {
	margin: 37% 0 0 25%;
	vertical-align: middle;
	width: 50%;
	height: 100%;
	float: left;
}

div.vezone.t14_circle1 > span.zone_tooltip, div.vezone.t14_circle2 > span.zone_tooltip, div.vezone.t14_circle3 > span.zone_tooltip {
	margin-top: 41px;
	margin-left: 11px;
	vertical-align: middle;
	width: 84%;
	height: 100%;
	float: left;
}

div.vezone.t14_right1 > span.zone_tooltip, div.vezone.t14_right2 > span.zone_tooltip, div.vezone.t14_right3 > span.zone_tooltip {
	margin-top: 41px;
	margin-left: 11px;
	vertical-align: middle;
	width: 84%;
	height: 100%;
	float: left;
}

div.vezone.t15_left > span.zone_tooltip, div.vezone.t15_center > span.zone_tooltip, div.vezone.t15_right > span.zone_tooltip {
	vertical-align: middle;
	width: 84%;
	height: 100%;
	float: left;
	margin-top: 44px;
	margin-left: 15px
}

div.vezone.t15_center2 > span.zone_tooltip, div.vezone.t4_left > span.zone_tooltip {
	vertical-align: middle;
	width: 84%;
	height: 100%;
	float: left;
	margin-top: 105px;
	margin-left: 50px;
}


/* TODO by Nestor */


.t13_header .zone_tooltip, .t9_header .zone_tooltip, .t8_header .zone_tooltip, .t7_header .zone_tooltip, .t5_header .zone_tooltip, .t6_header .zone_tooltip, .t3_header .zone_tooltip, .t4_header .zone_tooltip {
	vertical-align: middle;
	width: 84%;
	height: 100%;
	float: left;
	margin-top: 13px;
}

.t13_left .zone_tooltip {
	vertical-align: middle;
	width: 75%;
	height: 100%;
	float: left;
	margin-top: 144px;
	margin-left: 41px;
}

.t13_right .zone_tooltip {
	vertical-align: middle;
	width: 83%;
	height: 100%;
	float: left;
	margin-top: 10px;
	margin-left: 26px;
}

.t12_right1 .zone_tooltip, .t12_right2 .zone_tooltip, .t12_left1 .zone_tooltip, .t12_left2 .zone_tooltip {
	vertical-align: middle;
	width: 83%;
	height: 100%;
	float: left;
	margin-top: 84px;
	margin-left: 24px;
}

.t11_center1 .zone_tooltip, .t11_center2 .zone_tooltip, .t11_center3 .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 49px;
	margin-left: 0px;
}

.t10_center .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 231px;
	margin-left: 0px;
}

.t1_left .zone_tooltip {
	vertical-align: middle;
	width: 56%;
	height: 100%;
	float: left;
	margin-top: 129px;
	margin-left: 99px;
}

.t1_header .zone_tooltip {
	vertical-align: middle;
	width: 56%;
	height: 100%;
	float: left;
	margin-top: 23px;
	margin-left: 104px;
}

.t2_left .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 188px;
}

.t3_left .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 153px;
}

.t4_right .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 40px;
}

.t1_subheader .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 7px;
}

.t9_right .zone_tooltip, .t9_left .zone_tooltip {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 78px;
	margin-left: 6px;
}

.t5_left .zone_tooltip, .t5_right .zone_tooltip {
	vertical-align: middle;
	width: 55%;
	height: 100%;
	float: left;
	margin-top: 148px;
	margin-left: 84px;
}

.t9_center .zone_tooltip, .t7_left .zone_tooltip, .t6_left .zone_tooltip, .t6_center .zone_tooltip, .t6_right .zone_tooltip {
	vertical-align: middle;
	width: 75%;
	height: 100%;
	float: left;
	margin-top: 158px;
	margin-left: 40px;
}

.t8_center .zone_tooltip {
	vertical-align: middle;
	width: 59%;
	height: 100%;
	float: left;
	margin-top: 145px;
	margin-left: 88px;
}

.t7_center .zone_tooltip {
	vertical-align: middle;
	width: 59%;
	height: 100%;
	float: left;
	margin-top: 113px;
	margin-left: 96px;
}

.t7_subheader .zone_tooltip {
	vertical-align: middle;
	width: 59%;
	height: 100%;
	float: left;
	margin-top: 16px;
	margin-left: 92px;
}

.t8_right .zone_tooltip, .t8_left .zone_tooltip {
	vertical-align: middle;
	width: 62%;
	height: 100%;
	float: left;
	margin-top: 70px;
	margin-left: 41px;
}


