/* Easy Slider */

#ytb_slider_content ul, #ytb_slider_content li
{
	margin:0;
	padding:0;
	list-style:none;
}
#ytb_slider_content li
{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:140px;
	height:103px;
	overflow:hidden; 
	float:left;
}					

/* // Easy Slider */

/* CSS for single Slide */
.ytb_slide {
    background: #f4f4f4;
	border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

	width:100%;
	height:100%;
}
.ytb_slide p /* no tenemos p ni a*/
{
	color:#333333;
	font-size:11px;
	line-height:14px;
	padding:0 10px 0 0;
	text-align:left;
	width:223px;
}

/* CSS for single Slide */


