#menubar {
	background-color: rgba(55,55,55,0.3);
	width: 100%;
	height: 70px;
	position: fixed;
	bottom:0px;
	left: 0px;
	border-top: 2px solid black;
	border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
}

.barbuttonaddsave{
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 14px;
	background-color: #CCC;
	border-radius: 5px; 
}

#addslide_div {
	background: url(/images/add.png);
}
#addslide_div:hover {
	background: url(/images/hover/add_hover.png);
}

#arrow_left_div {
	background: url(/images/arrow_left.png);
}

#arrow_left_div:hover {
	background: url(/images/hover/arrow_left_hover.png);
}

#arrow_right_div {
	background: url(/images/arrow_right.png);
}

#arrow_right_div:hover {
	background: url(/images/hover/arrow_right_hover.png);
}

#save_div{
	background: url(/images/save.png);
}
#save_div:hover{
	background: url(/images/hover/save_hover.png);
}

#textthumb {
	background: url(/images/txt.png);
	width: 44px;
	height: 55px;
}

#textthumb:hover {
	background: url(/images/hover/txt_hover.png);
	width: 44px;
	height: 55px;
}

#imgthumb {
	background: url(/images/img.png);
	width: 44px;
	height: 55px;
}

#imgthumb:hover {
	background: url(/images/hover/img_hover.png);
	width: 44px;
	height: 55px;
}

#flashthumb {
	background: url(/images/flash.png);
	width: 44px;
	height: 55px;
}

#flashthumb:hover {
	background: url(/images/hover/flash_hover.png);
	width: 44px;
	height: 55px;
}

#videothumb {
	background: url(/images/video.png);
	width: 44px;
	height: 55px;
}

#videothumb:hover {
	background: url(/images/hover/video_hover.png);
	width: 44px;
	height: 55px;
}

.barbutton {
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 7px;
	margin-left: 7px;
}


#thumbcontent{
	width: 100%;
	height: 90px;
}

.templatethumb{
	border: 1px solid transparent;
	width: 100px;
	height: 75px;
	background-color: rgb(240,240,240);
	margin-right: 20px;
	float: left;
	color: black;
	cursor: pointer;
}

.templatethumb img{
	width:100%;
	height:100%;
}

.templatethumb:hover{
	border: 1px solid black;
}

.grey_background{
	background-color: rgba(100,100,100,0.4);
}

.editable:hover{
	background-color: rgba(217,188,43,0.4);
}

.menuicon{
	float: left;
	width: 45px;
	height: 55px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.menuicon img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.menu{
	width: 100%;
	height: 120px;
}

.theslider{
	width: 300px;
	height: 40px;
	position: absolute;
}

#thumbcontent{
	width: 400px;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

/*****fancybox tabs ****************/
.outer_box{
	width: 800px;
	height: 600px;
}

.fancy_tabs{
	background: white;
}

.fancy_tabs ul{
	list-style-type: none;
	margin: 0;
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
}

.fancy_tabs li{
	display: inline;
}

.fancy_tabs li a{
	display: inline-block;
	padding: 0.5em 1.5em;
	border-right: 1px solid #D3E8F6;
	text-decoration: none;
	background: #244974;
	color: white;
}

.fancy_tabs li a:hover{
	background:white;
	color:#244974;
	border-right-color:#d3e8f6;
}

.fancy_tabs li a.fancy_selected{
	background:#C4C4C4;
	color:#244974;
}

.fancy_tab_content{
	padding: 30px 0px 20px 20px;
	text-align:center;
}

.edit_pencil{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
}

.edit_pencil_img{
	width: 30px;
	height: 30px;
}

.addpicture {
	width: 50px;
	height: 50px;
}

#picture_fancybox{
	background: url(/images/background_img_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#flash_fancybox{
	background: url(/images/background_flash_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#video_fancybox{
	background: url(/images/background_video_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}


.slide_number{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
}

#tab_video_repo_content_preview{
	width: 650px;
	height: 190px;
	text-align: center;
	padding: 9px;
	margin: auto;
}

#tab_video_repo_content_preview_video{
	width: 350px;
	height: 195px;
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

#tab_video_repo_content_preview_metadata{
	width: 300px;
	height: 195px;
	float: right;
	overflow: hidden;
}

#test{
	width: 300px;
	height: 195px;
	max-height: 195px;
}

.videoPreview{
	max-width: 300px;
	height: 195px;
}

#tab_video_repo_content_preview_foot{
	outline: none;
}

div.search_container {
	width: 200px;
}

input[type=search] {
	color: #245292;
	background: url('/images/search_icon.png') 5px 50% no-repeat #F2E6EA;
	padding: 1px 3px 0 22px;
	font-size: 12px;
	height: 25px;
	width: 200px;
	cursor: text;
	display: block;
	/* text-shadow: 0px 0px 0.5px #9E1F63; */
	letter-spacing: 0px;
	word-spacing: 1px;
	margin-left: 20px;
	margin-bottom: 5px;
}


input.rounded {
	border: solid 1px #9E1F63;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 2px #9E1F63;
	-webkit-box-shadow: 2px 2px 2px #9E1F63;
	box-shadow: 2px 2px 3px #9E1F63;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #9E1F63;
}


.okButton {
    background: url(../images/carrousel_sprite.png) 0 -150px no-repeat transparent;
    cursor:pointer;
    width: 150px;
    height: 50px;
    border: none;
    margin-right: 25px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;  
    outline: none;
    border: none;
}

.okButton:hover {
    background: url(../images/carrousel_sprite.png) 0 -200px no-repeat transparent;
}

.okButton::-moz-focus-inner {
    border: none;
}


/* Table stylesheet */

table.metadata{
	border: 0 none;
	outline: 0 none;
	border-spacing: 0px;
	width: 300px;
	height: 195px;
	table-layout:fixed;
}

table.metadata td{
	text-align: left;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
	height: 20px;
} 

table.metadata td.title{
	width: 100px;
} 

table.metadata td.info{
	width: 200px;
} 

table.metadata td.title_description{
	width: 300px;
	text-align: center;
} 

table.metadata td.info_description{
	height: 100px;
	vertical-align: top;
}

table.metadata tr.even{
	color: white;
	background: #9E1F63;
} 

table.metadata tr.odd{
	color: #24497D;
	background: #F2E6EA;
} 

table.metadata td.header_left{
	background: url("/images/table_left.png") no-repeat scroll left -1px #9E1F63;
} 

table.metadata td.header_right{
	background: url("/images/table_right.png") no-repeat scroll right -1px #9E1F63;
}

table.metadata td div.height_wrapper_description{
	height: 100px;
	overflow: hidden;
}

.caroufredsel_wrapper{
	overflow-y: visible;
	overflow-x: visible;
	overflow: visible;
}
