#menubar {
	background: url(/images/menubar.png);
	width: 100%;
	height: 70px;
	position: fixed;
	bottom:0px;
	left: 0px;
	border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
}

.barbuttonaddsave{
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 14px;
	background-color: #CCC;
	border-radius: 5px; 
}

#addslide_div {
	background: url(/images/add.png);
}
#addslide_div:hover {
	background: url(/images/hover/add_hover.png);
}

#arrow_left_div {
	background: url(/images/arrow_left.png);
}

#arrow_left_div:hover {
	background: url(/images/hover/arrow_left_hover.png);
}

#arrow_right_div {
	background: url(/images/arrow_right.png);
}

#arrow_right_div:hover {
	background: url(/images/hover/arrow_right_hover.png);
}

#save_div{
	background: url(/images/save.png);
}
#save_div:hover{
	background: url(/images/hover/save_hover.png);
}

.textthumb {
	background: url(/images/text.png);
}

.textthumb:hover {
	background: url(/images/hover/text_hover.png);
}

.textthumb_small {
	background: url(/images/text_small.png);
}

.textthumb_small:hover {
	background: url(/images/hover/text_small_hover.png);
}

.picthumb {
	background: url(/images/image.png);
}

.picthumb:hover {
	background: url(/images/hover/image_hover.png);
}

.picthumb_small {
	background: url(/images/image_small.png);
}

.picthumb_small:hover {
	background: url(/images/hover/image_small_hover.png);
}

.flashthumb {
	background: url(/images/flash.png);
}

.flashthumb:hover {
	background: url(/images/hover/flash_hover.png);
}

.videothumb {
	background: url(/images/video.png);
}

.videothumb:hover {
	background: url(/images/hover/video_hover.png);
}

.barbutton {
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	margin-bottom: 20px;
	margin-right: 7px;
	margin-left: 7px;
}

.with_pointer{
	cursor: pointer;
}

#thumbcontent{
	width: 100%;
	height: 90px;
}

.templatethumb{
	border: 1px solid transparent;
	width: 100px;
	height: 75px;
	background-color: rgb(240,240,240);
	margin: 16px 11px 6px 16px;
	float: left;
	color: black;
	cursor: pointer;
}

.templatethumb img{
	width:100%;
	height:100%;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
}

.templatethumb:hover{
	border: 1px solid rgb(255, 2, 94);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	border-radius: 9px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	outline: 0;
	outline: thin dotted \9;	
}

.grey_background{
	background-color: rgba(100,100,100,0.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.editable:hover{
	/*background-color: rgba(217,188,43,0.4);*/
}

.menuicon{
	float: left;
	width: 44px;
	height: 55px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	background-size: 100%;
}

.menuicon_small{
	float: left;
	width: 24px;
	height: 31px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	background-size: 100%;
}

.menu{
	width: 100%;
	height: 120px;
}

.theslider{
	width: 750px;
	height: 40px;
	position: absolute;
	top: 600px;
	left: 75px;
	z-index: 10;
	left: 75px;
}

#thumbcontent{
	width: 400px;
	height: 300px;
}

/*****fancybox tabs ****************/
.outer_box{
	width: 800px;
	height: 600px;
}
.fancy_tabs{
	border-bottom: 1px solid #ff005d;
	background: #f9f9f9;
}

.fancy_tabs ul{
	width: 800px;
	list-style-type: none;
	background-color: #f9f9f9;
	color: #ff005d;
	margin: 0px;
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	padding: 0px;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;	
}

.fancy_tabs li{
	display: inline-block;
	margin-bottom: -1px;
}

.fancy_tabs li a{
	display:block;
	padding: 0.5em 1.5em;
	text-decoration: none;
	background: #f9f9f9;
	color: #ff005d;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	
}

.fancy_tabs li a:hover{
	background:#f9f9f9;
	color: #ff005d;
	border:1px solid #ff005d;
	border-bottom-color: transparent;
}

.fancy_tabs li a.fancy_selected{
	background: #f9f9f9;
	color: #ff005d;
	border: 1px solid #ff005d;
	border-bottom-color: transparent;
}

.fancy_tab_content{
	padding: 30px 0px 20px 20px;
	text-align:left;
}

.delete_icon{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
}

.delete_slide{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 22px;
	height: 22px;
	cursor:pointer;
	background: url(/images/delete.png);
}

.delete_slide:hover{
	background: url(/images/hover/delete_hover.png);
}

.delete_content{
	position: absolute;
	bottom: -2px;
	right: 0px;
	width: 40px;
	height: 40px;
	cursor:pointer;
	background: url(/images/delete_content.png);
}

.delete_content:hover{
	background: url(/images/hover/delete_content_hover.png);
}

.addpicture{
	width: 50px;
	height: 50px;
}

#picture_fancybox{
	background: url(/images/background_img_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#flash_fancybox{
	background: url(/images/background_flash_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#video_fancybox{
	background: url(/images/background_video_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}


.slide_number{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
}

#tab_video_repo_content_preview{
	width: 650px;
	height: 190px;
	text-align: center;
	padding: 9px;
	margin: auto;
}

#tab_video_repo_content_preview_video{
	width: 350px;
	height: 195px;
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

#tab_video_repo_content_preview_metadata{
	width: 300px;
	height: 195px;
	float: right;
	overflow: hidden;
}

.preview_video{
	max-width: 300px;
	height: 195px;
}

#tab_video_repo_content_preview_foot{
	outline: none;
}

div.search_container {
	width: 200px;
}


input.vishtab {
	color: #245292;
	font-size: 12px;
	cursor: text;
	display: block;
	letter-spacing: 0px;
    word-spacing: 1px;
	margin-left: 20px;
    margin-bottom: 5px;
	height: 25px;
}

input[type=search] {
	background: url('/images/search_icon.png') 5px 50% no-repeat #F2E6EA;
	padding: 1px 3px 0 22px;
	width: 250px;
}

input.url, input.upload{
  width: 500px;
  padding: 1px 3px 0 28px;
}

input.url {
	background: url('/images/url_icon.png') 5px 50% no-repeat #F2E6EA;
}

input.upload {
  background: url('/images/url_icon.png') 5px 50% no-repeat #F2E6EA;
}

input.rounded {
	border: solid 1px #9E1F63;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px #9E1F63;
	-webkit-box-shadow: 2px 2px 2px #9E1F63;
	box-shadow: 2px 2px 3px #9E1F63;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #9E1F63;
}


.okButton {
    background: url(../images/carrousel_sprite.png) 0 -150px no-repeat transparent;
    cursor:pointer;
    width: 150px;
    height: 50px;
    border: none;
    margin-right: 25px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;  
    outline: none;
    border: none;
}

.okButton:hover {
    background: url(../images/carrousel_sprite.png) 0 -200px no-repeat transparent;
}

.okButton::-moz-focus-inner {
    border: none;
}


/* Table stylesheet */

table.metadata{
	border: 0 none;
	outline: 0 none;
	border-spacing: 0px;
	width: 300px;
	height: 195px;
	table-layout:fixed;
}

table.metadata td{
	text-align: left;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
	height: 20px;
} 

table.metadata td.title{
	width: 100px;
} 

table.metadata td.info{
	width: 200px;
} 

table.metadata td.title_description{
	width: 300px;
	text-align: center;
} 

table.metadata td.info_description{
	height: 100px;
	vertical-align: top;
}

table.metadata tr.even{
	color: white;
	background: #9E1F63;
} 

table.metadata tr.odd{
	color: #24497D;
	background: #F2E6EA;
} 

table.metadata td.header_left{
	background: url("/images/table_left.png") no-repeat scroll left -1px #9E1F63;
} 

table.metadata td.header_right{
	background: url("/images/table_right.png") no-repeat scroll right -1px #9E1F63;
}

table.metadata td div.height_wrapper_description{
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

.caroufredsel_wrapper{
	overflow-y: visible;
	overflow-x: visible;
}

.image_barbutton{
	width: 60px;
	margin-top: 7px;
}

.delete_img{
	margin-left: 25px;
	margin-top: 30px;
	height: 50px;
}

.deltext{
	text-decoration:none;
	font-family:Helvetica;
	font-size:40px;
	color:#CCC;
	margin-left: -5px;
	padding-bottom: 15px;
}

.delimg{
	margin-left: -20px;
}
.button1 {
	margin-left: 220px;
	margin-top: 25px;
}
.button {
	margin-top: 15px;
    padding: 5px 10px;
    display: inline;
	text-decoration:none;
    background: #CCC repeat-x bottom;
	color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }	
	
.button:hover {
	background:#DDD;
	text-shadow: 1px 1px #666;
    }
	
.button:active {
}

#youtube_preview{
	width: 350px;
	height: 195px;
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

#youtube_preview_metadata{
	width: 300px;
	height: 195px;
	float: right;
	overflow: hidden;
}


/* Objects wrapper */

div.object_wrapper{
	border: 10px #9E1F63 solid;
}


/* Vish Flash */

#tab_flash_repo_content_preview{
	width: 650px;
	height: 190px;
	text-align: center;
	padding: 9px;
	margin: auto;
}

#tab_flash_repo_content_preview_flash{
	width: 350px;
	height: 195px;
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

#tab_flash_repo_content_preview_metadata{
	width: 300px;
	height: 195px;
	float: right;
	overflow: hidden;
}
