@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/vishEditor/stylesheets/libs/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/vishEditor/stylesheets/libs/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/vishEditor/stylesheets/libs/OpenSans-Semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/vishEditor/stylesheets/libs/OpenSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(/vishEditor/stylesheets/libs/OpenSans-ExtraBold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(/vishEditor/stylesheets/libs/OpenSans-LightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/vishEditor/stylesheets/libs/OpenSans-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/vishEditor/stylesheets/libs/OpenSans-SemiboldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/vishEditor/stylesheets/libs/OpenSans-BoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(/vishEditor/stylesheets/libs/OpenSans-ExtraBoldItalic.ttf) format('ttf');
}

img {
  border:0;
}

#menubar {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom:0px;
	left: 290px;	
	margin-top: 50px;
	z-index: 1075;
}

/* Settings */

#presentation_details_fields {
}

#presentation_details_preview_thumbnail_img_wrapper{
	width: 60%;
	height: 60%;
	margin-left: 20%;
	margin-top: 20%;
	overflow: hidden;
	background: #eee;
}

#presentation_details_preview_thumbnail_img {
	width: 100%;
	height: 100%;
	background: #eee;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.addthumbtitle  {
	position: absolute;
	margin-top: -92px;
	margin-left: 90px;
	width: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	color: #A3A3A3;
}

img.addThumbnailPlus{
	opacity: 0.7 !important;
	background: white !important;
	margin-left: -4px;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

img.addThumbnailPlus:hover {
	opacity: 1 !important;
}

#editthumb {
	display: none;
	position: absolute;
	bottom: 0;
	height: 28px;
	width: 200px;
	background: #fff;
	border: 1px solid #A3A3A3;
	border-bottom: 0px;
	margin-top: 11px;
	margin-left: -1px;
	opacity: 0.5;
}

#editthumb:hover {
	opacity: 0.8;
}

#editthumb p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #323232;
	text-align: center;
	margin: 5px;
}

#presentation_details_preview_thumbnail_img .addthumbtitle:hover {
	color: #000;
	cursor: pointer;
}

#presentation_details_fields_row1{
	width: 100%;
	height: 600px;
}

#presentation_details_fields_row1_column1{
	height: 100%;
	width: 24%;
	padding: 34px;
	float: left;
}

#presentation_details_fields_row1_column2{
	height: 571px;
	width: 491px;
	margin-left: -19px;
	margin-top: 15px;
	float: left;
	border-left: 1px solid #EBEBEB;
	padding-left: 24px;
}

#presentation_details_fields_row1_column3{
	height: 572px;
	width: 191px;
	float: left;
	margin-left: -55px;
	padding-left: 45px;
	margin-top: 15px;
	margin-bottom: -50px;
	border-left: 1px solid #EBEBEB;
}

#presentation_details_fields_row2{
	width: 100%;
	height: 70px;
}

#presentation_details_preview_title{
	margin-top: -15px;
}

#presentation_details_preview_addtitle {
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: #323232;
}

.addthumbtitle  {
	position: absolute;
	margin-top: -80px;
	margin-left: 90px;
	width: 33%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: #A3A3A3;
	pointer-events: none;
}

#presentation_details_preview_author {
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #323232;
}

p.presentation_details_column_title{
	color: #ccc;
}

#presentation_details_preview{
	width: 200px;
	border: 1px solid #ccc;
	margin-top: -9px;
}

#presentation_details_title{
	width: 100%;
	display: inline;
}

span.presentation_details_text {
	font-family: Helvetica;
	font-size: 1.6em;
	color: #ff005d;
	margin-right: 55px;
}

input.presentation_details_input {
	margin-top: 7px;
	margin-bottom: 17px;
	width: 80%;
	height: 25px;
	font-family: Arial;
	font-size: 16px;
	border: 1px solid #9B999D;
	border-radius: 10px 10px 10px 10px;
	outline: 0 none;
	padding: 5px 7px;
	z-index: 1000;
}

#presentation_details_description{
	width: 100%;
	display: block;
}

textarea#presentation_details_textarea {
	margin-top: 7px;
	margin-bottom: 15px;
	display: block;
	width: 80%;
	height: 177px;
	resize: none;
	border: 1px solid #9B999D;
	border-radius: 10px 10px 10px 10px;
	font-family: Arial;
	font-size: 16px;
	outline: 0 none;
	padding: 5px 7px;
	z-index: 1000;
}

#presentation_details_preview_thumbnail {
	position: relative;
	height: 200px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	background: #eee;
	border-bottom: 1px solid #ccc;
}

.buttonDisabledOnSettings{
	background: #ccc !important;
	cursor: default !important;
}

.buttonDisabledOnSettings:hover {
	opacity: 0.6 !important;
	text-shadow: none !important;
}

#tlt_current_value{
	display: inline;
	width: 90px;
	margin-left: 7px;
}

/* Themes in settings */

#scrollbar_themes_list{
	height: 486px;
}

#scrollbar_themes_list .mCSB_container{
	border: 1px solid #ccc;
	padding: 14px;
	background: #EEEEEE;
	box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
	-moz-box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
	-webkit-box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
}

#scrollbar_themes_list img.image_barbutton{
	width: 120px;
	margin-left: 15px;
	margin-bottom: 10px;
	border: solid 4px transparent;
	-moz-border-radius: 13px;
	-khtml-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	opacity: 0.8;
}

#scrollbar_themes_list img.image_barbutton:hover{
	opacity: 1;
	cursor: pointer;
	border: 4px solid #357ebd;
}

#scrollbar_themes_list p.ptext_barbutton{
	display: none;
}

.theme_selected_in_scrollbar{
	border: 4px solid #357ebd !important;
	opacity:1 !important;
	width: 116px !important;
}


#fill_details_later_button {
	margin-left: 518px;
	margin-right: 30px;
}

div#tagBoxIntro{
	padding: 0px;
	color: #7a8fa9;
	font-family: Arial;
	font-size: 14px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	max-height: 45%;
	width: 83%;
	margin-top: -7px;	
}

div#tagBoxIntro .tagit{
	height: 57px;
}

button.buttonpedagogical {
	margin-left: -279px;
	width: 220px;
	text-align: center;
}

#pedagogical_options_fields {
	overflow: hidden;
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
} 

.pedagogical_title{
	color: #B6B6B6;
	font-family: Arial;
	font-size: 2em;
	left: 35px;
	position: relative;
	margin-bottom: 4%;
}

#pedagogical_options_fields_row1_column1{
	float: left;
	width: 303px;
	height: 165px;
	margin-left: 33px;
}

#pedagogical_options_fields_row1_column2{
	float: left;
	width: 321px;
	height: 246px;
	border-left: 1px solid #ebebeb;
	padding-left: 32px;
	margin-left: 16px;
	margin-right: -19px;
}

#pedagogical_options_fields_row1_column3{
	float: left;
	margin-left: 12px;
	height: 245px;
	border-left: 1px solid #ebebeb;
}

#language_tag_box_text{
	display: inline;
}

#context_tag_box_text{
	display: inline;
}

.content_tag_box_class {
	margin-top: 42px;
	margin-left: 10px;
}

input.slider_range_input {
	border: 0; 
	color: #005580; 
	font-weight: bold;
}

.range_text{
	display: inline;
}

.slider_wrapper{ 
	display: inline;
	margin-left: 10px;
}

.slider_bar{
	margin-left: 0px;
	margin-top: 5px;
	width: 85%;
}

#subject_tag{
	height: 171px;
}

.ped_box_fields {
	float: right;
	margin-right: 16px;
	width: 164px;
}

.ped_box_fields2 {
	float: right;
	margin-right: -19px;
}



#educational_objectives_title{
	position: absolute;
	margin-left: 45px;
	margin-top: 266px;
}

#educational_objectives_textarea{
	width: 886px;
	height: 151px;
	margin-top: 55px;
	margin-left: 46px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; color: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; color: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; color: none; }
.ui-widget-header { border: 1px solid #e78f08; background: #eeeeed  50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; }


#tlt_wrapper{
	margin-top: 5px;
}

.tlt_inputs_wrapper{
	margin-left: 28px;
}

.tlt_input_wrapper{
	margin-top: 6px;
	float: left;
	width: 23%;
	text-align: center;
}

.tlt_input_title{
	padding: 0;
	margin: 0;
}

.tlt_input{
	width: 60%;
}

#done_in_pedagogical {
	position: absolute;
	right: 48px;
	margin-top: 23px;
	font-size: 0.9em;
}


#subject_tag_box{
	float: left;
	width: 240px;
	margin-left: 40px;
}

#language_tag_box{
	float: left;
	width: 260px;
	margin-left: 9px;
}

#help_pedagogical_selection {
	background-image:url(/vishEditor/images/icons/helptutorial_circle.png);
	position: absolute;
	right: 25px;
	height: 29px;
	top: -1px;
}

#help_pedagogical_selection:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover_tp.png);
	cursor: pointer;
}

#presentation_details_logo {
	width: 107%;
	margin-top: -33px;
	margin-left: -20px;
	margin-bottom: 49px;
}

/* Settings End */


#leftside {
	position: absolute;
	top: 58px;
	display:block;
	width: 179px;
	height: 694px;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #ccc;
	box-shadow: 3px 13px 10px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 13px 10px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 3px 13px 10px 1px rgba(0,0,0,0.1);
}

#bottomside {
	box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
	-moz-box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
	-webkit-box-shadow: inset 2px 1px 10px 0px rgba(226, 226, 226, 0.82);
	position: absolute;
	left: 180px;
	bottom: 0px;
	display: block;
	width: 1018px;
	height: 70px;
	text-align: center;
	background: #EBEBEB;
	border: 1px solid #BBB;
	z-index: 1100;
}

#subslide_selected {
	height: 100%;
	width: 15%;
	float: left;
}

#subslides_wrapper {
	height: 100%;
	width: 85%;
	float: left;
}

#subslides_list_actions {
	padding-top: 2px;
	margin-top: 0px;
	margin-right: 18px;
	margin-left: -14px;
	padding-left: 12px;
	height: 100%;
	padding-right: 11px;
	width: 12%;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#subslides_list {
	height: 125%;
	width: 84%;
	float: left;
	margin-top: -15px;
}

.slidesScrollbarButton {
	border: 1px solid #B9B9B9 !important;
}

.slidesScrollbarButton:hover {
	background: #357ebd;
	color: #fff;
}

.slidesScrollbarButton:active {
	background: #357ebd;
	color: #fff;
	box-shadow: inset 0px 3px 10px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 3px 10px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 3px 10px 1px rgba(0,0,0,0.1);
}

#slides_list_actions {
	width: 179px;
	height: 34px;
	background: #fbfbfb;
	border-bottom: 1px solid #ccc;
	padding-top: 13px;
	padding-bottom: 15px;
}


#addSlideButton {
	font-family: 'Open Sans', sans-serif;
}

#importButton {
	font-family: 'Open Sans', sans-serif;
}	

.presentation_details_column_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	font-weight: 600;
	color: #323232;
}

#slides_list {
	position: relative;
	margin-top: 2px;
	text-align: center;
	width: 100%;
	height: 630px;
	max-height: 700px;
	display:block;
	overflow: hidden;
}

#slides_list div.wrapper_barbutton {
	display: block;
	width: 90%;
	margin-bottom: 13px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	padding-top: 12px;
	padding-bottom: 0px;
}

#slides_list div.wrapper_barbutton:active {
	border-top: none;
}


#slides_list p.ptext_barbutton {
	display: block;
	float: left;
	margin-left: 8px;
	margin-top: 0px;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
}

#slides_list img.image_barbutton {
	display: block;
	width: 73%;
	height: 81px;
	margin: auto;
	border-radius: 11px;
	opacity: 0.7;
}

#slides_list img.image_barbutton:hover {
	width: 72.8%;
	height: 80px;
	cursor:pointer;
	border: 2px solid #357ebd;
	opacity: 0.9;
}

#slides_list img.image_barbutton:active {
	-webkit-box-shadow: 15px 15px 18px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:    15px 15px 18px rgba(50, 50, 50, 0.17);
	box-shadow:         15px 15px 18px rgba(50, 50, 50, 0.17);
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
	 background-image: url(http://matthewjamestaylor.com/blog/selection.gif);
	 border: none;
	 width: 72%;
	 padding: 1px;
	 z-index: 20;
	 opacity: 1;
}

#slides_list div:first-child {
	margin-top: 0px;
	border-top: none;
}

button.downimport {
	width: 86px;
}

/* 
 * Subslides
 */

#subslides_list div.wrapper_barbutton {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 70px;
	margin-right: 34px;
	margin-top: 18px;
}

#subslides_list p.ptext_barbutton {
	position: absolute;
	border: 1px solid #666;
	top: 19px;
	padding-top: 7px;
	height: 15px;
	right: -15px;
	background: white;
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px 0px 5px 5px;
	cursor: default;
	pointer-events: none;
}

#subslide_selected img.image_barbutton {
	width: 85px;
	height: 64px;
	margin-top: 3px;
	border-radius: 5px;
	opacity: 0.8;
}

#subslide_selected img.image_barbutton:hover {
	width: 84px;
	height: 63px;
	opacity: 1;
	border: 1px solid #357ebd;
	cursor: pointer;
}

#subslides_list img.image_barbutton {
	height: 55px;
	border-radius: 5px;
	border: 1px solid white;
}

#subslides_list img.image_barbutton:hover {
	border: 1px solid #357ebd;
	cursor: pointer;
}

section.slides_editor {
	overflow: hidden;
}

section.slides_editor > article:not(.current) {
	display: none;
}

section.slides_editor > article {
	left: 58% !important;
	top: 52.5% !important;
}

section.slides_editor > article > article {
	top: 50% !important;
}

div.zoneSelected {
	cursor: auto;
	background: url(/vishEditor/images/grid.png) repeat;
	border: 1px solid #0096fd !important;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(211, 211, 211, 0.1);
	box-shadow: inset 1px 1px 1px 1px rgba(211, 211, 211, 0.1);
}

div.zoneUnselected {
	cursor: pointer;
	background: none;
	border: 1px dotted #BBB;
	outline: 0;
}

div.vezone[tooltip='true'] {
	text-align: center;
}

.zone_tooltip {
	text-align: center;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #c9c9c9;
}

.box1 {
	margin-left: 30px;
	margin-top: 30px;
	border: 1px solid #D7D7D7;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box1fancy1 {
	width: 730px;
	height: 150px;
}
.box1fancy2 {
	width: 730px;
	height: 500px;
}
.box1fancy3 {
	width: 730px;
	height: 210px;
}

.box2 {
	margin-left: 30px;
	margin-top: 30px;
	border: 1px dotted #D7D7D7;
	width: 730px;
	height: 300px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box3 {
	margin-left: 30px;
	margin-top: 30px;
	border: none;
	width: 730px;
	height: 500px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box2_upload {
	margin-top: 15px;
	height: 285px;
}

.previewimgbox {
	position:absolute;
	background: url(/vishEditor/images/imgprev.png) no-repeat;
	margin-left: 30px;
	margin-top: 15px;
	width: 370px;
	height: 275px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	vertical-align: middle;
}

.textfancy {
	position:absolute;
	font-family:Helvetica;
	margin-left: 70px;
	margin-top: 15px;
	font-size: 20px;
	color: #9B999D;
}

.image_add_url {
	margin-left: 23px;
	margin-top: 26px;
}

.image_add_link {
	position: absolute;	
	margin-left: 16px;	
	margin-top: 25px;
}


div.addUrlButtons{
	margin-top: 85px;
	display: block;
	margin-right: 25px;
}

.addUrlButton {
	float:right;
	padding: 5px 10px;
	text-decoration: none;
	background: #FF005D repeat-x bottom;
	opacity: 0.6;
	color: #F9F9F9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.removeUrlButton {
	float:right;
	padding: 5px 10px;
	text-decoration: none;
	background: #FF005D repeat-x bottom;
	opacity: 0.6;
	color: #F9F9F9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.addUrlButton:hover {
	text-shadow: none;
}

.tools_input_addUrl {
	margin-left: 70px !important;
}

.documentblank {
	position:absolute;
	margin-left: 93%;
	margin-top: 56%;
}

.buttonaddfancy {
	position:absolute;
	margin-top: 67%;
	margin-left: 145%;	
	display: inline;
	text-decoration:none;
	background: #CCC repeat-x bottom !important;
	width: 150px !important;
	opacity: 0.6;
	color:#f9f9f9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}	
	
.buttonaddfancy:hover {
	opacity: 1;
	text-shadow: 1px 1px #666;
}

.buttomadd {
	border: 1px solid rgb(255, 2, 94);
}

.formsizefancy1 {
	width: 620px;
	height: 30px;
}

.marginsfancy1 {
	margin-top: 25px;
	margin-left: 72px;
}

.formsizefancy2 {
	width: 620px;
	height: 30px;
}

.marginsfancy2 {
	margin-top: 30px;
	margin-left: 430px;
}

.marginsfancy3 {
	margin-top: 30px;
	margin-left: 330px;
}

.input_text_fancy {
	font-family:Helvetica;
	font-size: 16px;
	background: 5px 50% no-repeat;
	position:absolute;
	left: 29px;
	border: 1px solid #9B999D;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	outline: 0;
	outline: thin dotted \9;
	z-index: 1000;
	padding: 5px 7px 5px 7px;	
}

.input_text_fancy:focus {
	position:absolute;
	border: 1px solid rgb(255, 2, 94);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 100, 100, 0.6);
	z-index: 1000;
}

#arrow_left_div {
	background: url(/vishEditor/images/carrousel/arrow_left.png);
}

#arrow_left_div:hover {
	background: url(/vishEditor/images/carrousel/arrow_left_hover.png);
}

#arrow_right_div {
	background: url(/vishEditor/images/carrousel/arrow_right.png);
}

#arrow_right_div:hover {
	background: url(/vishEditor/images/carrousel/arrow_right_hover.png);
}

.textthumb {
	background: url(/vishEditor/images/zonethumbs/text.png);
}

.textthumb:hover {
	background: url(/vishEditor/images/zonethumbs/text_hover.png);
}

.textthumb_small {
	background: url(/vishEditor/images/zonethumbs/text_small.png);
}

.textthumb_small:hover {
	background: url(/vishEditor/images/zonethumbs/text_small_hover.png);
}

.picthumb {
	background: url(/vishEditor/images/zonethumbs/image.png);
}

.picthumb:hover {
	background: url(/vishEditor/images/zonethumbs/image_hover.png);
}

.picthumb_small {
	background: url(/vishEditor/images/zonethumbs/image_small.png);
}

.picthumb_small:hover {
	background: url(/vishEditor/images/zonethumbs/image_small_hover.png);
}

.objectthumb {
	background: url(/vishEditor/images/zonethumbs/object.png);
}

.objectthumb:hover {
	background: url(/vishEditor/images/zonethumbs/object_hover.png);
}

.videothumb {
	background: url(/vishEditor/images/zonethumbs/video.png);
}

.videothumb:hover {
	background: url(/vishEditor/images/zonethumbs/video_hover.png);
}

.livethumb {
	background: url(/vishEditor/images/zonethumbs/live.png);
}

.quizthumb {
	background: url(/vishEditor/images/zonethumbs/quiz.png);
}

.quizthumb:hover {
	background: url(/vishEditor/images/zonethumbs/quiz_hover.png);
}

.livethumb:hover {
	background: url(/vishEditor/images/zonethumbs/live_hover.png);
}

.thumbicon{
	float: left;
    margin-left: 15px;
    margin-right: 2px;
    margin-top: 12px;
	cursor: pointer;
	background-size: 100% !important;

}

.thumb_extra_small {
	width: 19px;
	height: 23px;
	margin-top: 3px;
}

.thumb_small {
	width: 34px;
	height: 42px;
	margin-top: 6px;
}

.thumb_medium {
	width: 40px;
	height: 50px;
}

.thumb_large {
	width: 44px;
	height: 55px;
}

.barbutton {
	position: relative;
	top: 6px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 59px;
	float: left;
	margin-bottom: 20px;
	margin-right: 7px;
	margin-left: 7px;
}

.with_pointer{
	cursor: pointer;
}

#thumbcontent{
	margin: 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
	width: 800px;
	height: 340px;
}

.slidethumb, .quizFancythumb {
	width: 99px;
	height: 75px;
	margin: 16px 11px 6px 16px;
	float: left;
	color: black;
	cursor: pointer;
	opacity: 0.8;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.slidethumb img, .quizFancythumb img {
	width:100%;
	height:100%;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	opacity: 0.8;
}

.slidethumb:hover, .quizFancythumb:hover {
	cursor: pointer;
	border: 1px solid #357ebd;
	opacity: 1;	
}

.slidethumb:active, .quizFancythumb:active {
	border: 1px solid #000;
	-webkit-box-shadow: 4px 4px 9px rgba(50, 50, 50, 0.0);
	-moz-box-shadow:    4px 4px 9px rgba(50, 50, 50, 0.0);
	box-shadow:         4px 4px 9px rgba(50, 50, 50, 0.0);
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	opacity: 1.0;	
}

div.vezone {
	border: 1px dotted #666;
}

.editable {
	cursor: pointer !important;
	border: 1.5px dashed #666;
}

.menu {
	width: 100%;
	height: 120px;
}

#theme_fancybox {
	background: url(/vishEditor/images/themebg.png) no-repeat;
	width: 600px;
	height: 300px;
	padding-left: 36px;
    padding-top: 87px;
}


/* Fancybox tabs */

#fancybox-overlay {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#fancybox-close {
	width: 24px;
	height: 22px;
}

.outer_box {
	width: 800px;
	height: 600px;
	overflow: hidden;
}

.fancy_tabs {
	border: 1px solid #e6e6e6;
}

.fancy_tabs ul {
	width: auto;
	list-style-type: none;
	background-color: #ffffff;
	color: #ff005d;
	margin: 0px;
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	padding: 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;	
}

.fancy_tabs li {
	display: inline-block;
}

.fancy_tabs li a {
	height: 1.6em;
	display: block;
	padding: 0.5em 1.5em;
	text-decoration: none;
	background: #ffffff;
	color: #000;
	font-size: 15px;
	opacity: 0.5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.fancy_tabs li a:hover {
	opacity: 0.8;
	font-size: 15px;
	border-bottom: 3px solid #930;
	font-weight: 400;
}

.fancy_tabs li a.fancy_selected {
	color: #000;
	height: 24px;
	border-bottom: 3px solid #ff005d;
	opacity: 1;
	font-size: 16px;
	filter: none;
	font-weight: 600;
}

.fancy_tab_content {
	text-align:left;
}

.tab_slides_content {
  margin-top: 30px;
  margin-left: 73px;
}

.tab_slides_templates {
}

.tab_slides_smartcards {
	display: inline-block;
	margin-top: 30px;
}

a#tab_pic_flikr > img {
	max-width: 47px;
}

a#tab_object_lre, a#tab_pic_lre {
	padding-left: 6px;
	padding-right: 6px;
}

a#tab_object_lre > img, a#tab_pic_lre > img {
	width: 155px;
	height: 27px;
	margin-bottom: -10px;
}

#lrelogo_in_tab {
	max-width: 300px;
}

.delete_icon {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
}

.delete_slide {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 22px;
	height: 22px;
	cursor:pointer;
	background: url(/vishEditor/images/icons/ve_delete.png);
	z-index: 1074;
}

.delete_slide:hover {
	background: url(/vishEditor/images/icons/ve_delete_hover.png);
}

.delete_content {
	position: absolute;
	bottom: -2px;
	right: 0px;
	width: 40px;
	height: 40px;
	cursor:pointer;
	background: url(/vishEditor/images/icons/delete_content.png);
	z-index: 10000;
}

.delete_content:hover {
	background: url(/vishEditor/images/icons/delete_content_hover.png);
}

.addpicture {
	width: 50px;
	height: 50px;
}

.slide_number {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
}

.content_preview {
	width: 650px;
	height: 190px;
	text-align: center;
	padding-top: -10px;
	margin: auto;
}

.content_preview_presentation {
	width: 800px;
	height: 270px;
	text-align: center;
	padding-top: -10px;
	margin: auto;
}

.content_preview_data {
	width: 350px;
	height: 195px;
	margin-left: auto; 
	margin-right: auto;
	float: left;
}

div.content_preview_presentation > div.content_preview_data {
	width: 0px;
	height: 270px;
}

.content_preview_metadata {
	width: 300px;
	height: 175px;
	float: right;
	overflow: hidden;
}

div.content_preview_presentation > div.content_preview_metadata {
	width: 790px;
	height: 270px;
}

.content_preview_foot {
	outline: none;
	text-align: center;
	margin-left: 70px;
}

div.search_container {
	width: 200px;
}

input.vishtab {
	color: #245292;
	font-size: 12px;
	cursor: text;
	display: block;
	letter-spacing: 0px;
    word-spacing: 1px;
	margin-left: 20px;
    margin-bottom: 5px;
	height: 25px;
}

input[type=search] {
	padding: 1px 3px 0 22px;
	width: 250px;
}

input[type=search] {
	-moz-appearance:none;
	-webkit-appearance:none;
}

input.url, input.upload{
	width: 500px;
	padding: 1px 3px 0 28px;
}

input.url {
	background: url('/vishEditor/images/url_icon.png') 5px 50% no-repeat #F2E6EA;
}

input.upload {
	background: url('/vishEditor/images/url_icon.png') 5px 50% no-repeat #F2E6EA;
}

input.rounded {
	border: solid 1px #9E1F63;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px #9E1F63;
	-webkit-box-shadow: 2px 2px 2px #9E1F63;
	box-shadow: 2px 2px 3px #9E1F63;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #9E1F63;
}

.okButton {
    background: url('/vishEditor/images/carrousel/carrousel_sprite.png') 0 -150px no-repeat transparent;
    cursor:pointer;
    width: 150px;
    height: 50px;
    border: none;
	margin-left: 420px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;  
    outline: none;
    border: none;
	margin-top: -20px;
}

.okButton:hover {
    background: url('/vishEditor/images/carrousel/carrousel_sprite.png') 0 -200px no-repeat transparent;
}

.okButton::-moz-focus-inner {
    border: none;
}

.okButton2 {
    background: url('/vishEditor/images/carrousel/carrousel_sprite.png') 0 -150px no-repeat transparent;
    cursor:pointer;
    width: 150px;
    height: 50px;
    border: none;
	margin-left: -70px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;  
    outline: none;
    border: none;
	margin-top: -20px;
}

.okButton2:hover {
    background: url('/vishEditor/images/carrousel/carrousel_sprite.png') 0 -200px no-repeat transparent;
}

.okButton2:-moz-focus-inner {
    border: none;
}


/* Table stylesheet */

table.metadata {
	border: 0 none;
	outline: 0 none;
	border-spacing: 0px;
	width: 300px;
	height: 195px;
	table-layout:fixed;
	margin-left: auto;
	margin-right: auto;
}

table.metadata_presentation {
	width: 490px;
	height: 270px;
}

table.metadata td {
	text-align: left;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
	height: 20px;
} 

table.metadata td.title {
	width: 100px;
} 

table.metadata td.info {
	width: 200px;
} 

table.metadata td.title_description {
	width: 300px;
	text-align: center;
} 

table.metadata td.info_description {
	height: 100px;
	vertical-align: top;
}

table.metadata tr.even {
	color: white;
	background: #FF005D;
} 

table.metadata tr.odd {
	color: #24497D;
	border:#0F3;
} 

table.metadata td.header_left {
	background: url(/vishEditor/images/table_left.png) no-repeat scroll left -1px #FF005D;
	width: 80px;
} 

table.metadata td.header_right {
	background: url(/vishEditor/images/table_right.png) no-repeat scroll right -1px #FF005D;
	width: 220px;
}

table.metadata td div.height_wrapper_description {
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

.caroufredsel_wrapper {
	overflow-y: visible;
	overflow-x: visible;
}

img.delete_img {
	margin-left: 25px;
	margin-top: 30px;
	height: 50px;
}

.deltext {
	text-decoration:none;
	font-family:Helvetica;
	font-size:32px;
	color:#CCC;
	padding-bottom: 15px;
}

.buttonfail {
	position: absolute;
    padding: 5px 20px;
    display: inline;
	text-decoration:none;
    background: #ff005d repeat-x bottom;
	opacity: 0.6;
	color:#f9f9f9;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	margin-left: -85px;
	margin-top: 30px;
}

.buttons_together {
	margin-top: 15px;
	text-align: right;
	margin-right: 20px;
}

.text_in_fancybox {
	margin-left: 22px;
	margin-top: 22px;
	margin-bottom: 10px;
}

#button_accept_when_fail {
	margin-top: -32px;
	float: right;
	margin-right: 25px;
}

.delimg {
	margin-left: -18px;
	margin-bottom: 35px;
}

.button220 {
	margin-left: 200px;
	margin-top: 25px;
}

.button {
    padding: 5px 10px;
    display: inline;
	text-decoration:none;
    background: #ff005d repeat-x bottom;
	opacity: 0.6;
	color:#f9f9f9;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}	

.button:hover {
	opacity: 1;
	text-shadow: 1px 1px #666;
}

.buttonfancy {
	margin-left: 620px;
	margin-top: 2px;
}


/* Objects wrapper */

div.object_wrapper {
	border: 10px #9E1F63 solid;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#tab_object_lre_content_preview_object > .objectPreview, #tab_object_from_web_content * .objectPreview, #tab_object_snapshot_content * .objectPreview {
	width: 855px;
	height: 530px;
	max-width: none;
	max-height: none;
	-moz-transform: scale(0.4);
	-moz-transform-origin: top left;
	-o-transform: scale(0.4);
	-o-transform-origin: top left;
	-webkit-transform: scale(0.4);
	-webkit-transform-origin: top left;
}

.objectPreview , .preview_video { 
	max-width: 90%;
	max-height: 90%;
	min-width: 80%;
	min-height: 80%;
}



/* Upload stylessheet */

.documentsForm { 
	display: inline;
	position: absolute;
	margin-left: 1.5%;
	margin-top: 3.7%;
}

.upload_progress_bar_wrapper { 
	position:relative; width: 415px; 
	border: 1px solid #ddd; 
	padding: 1px; 
	border-radius: 3px; 
	margin-left: 71px;
	margin-top: 10px;
}

.upload_progress_bar { 
  	background-color: #B4F5B4; 
	width:0%; 
	height:20px; 
	border-radius: 3px; 
}

.upload_progress_bar_percent { 
	position:absolute; 
	display:inline-block; 
	top:2px; 
	left:44%; 
	font-family:Helvetica;
	font-size: 16px;
}

.imagePreview {
	width: 80%;
	height: 80%;
	margin-top: 9%;
}

.button_addContent {
	margin-left: 140%;
	position:absolute;
	margin-top: 60%;
	margin-left: 140%;	
	display: inline;
	text-decoration:none;
	width: 150px !important;
	opacity: 0.6;
	color:#f9f9f9;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.documentblank_extraMargin {
	margin-left: 133%;
}

.upload_file_input {
	font-family:Helvetica;
  	font-size: 16px;
  	background: 5px 50% no-repeat;
}

.imagelogotab {
	z-index: 10000px;
	padding-top: 20px;
	padding-left: 35px;
	position: absolute;
}

.carrouselNoResults {
	margin: auto;
	margin-top: 32%;
	font-family:Helvetica;
	font-size: 23px;
	text-align: center;
	padding: 5px;
	padding: 5px;
	color: #FF005D;
}

.help_in_slide {
	background-image:url(/vishEditor/images/icons/helptutorial_circle.png);
	position: absolute;
	top: 2px;
	right: 24px;
	position: absolute;
	right: 27px;
	top: 2px;
	color: #FF005D;
	z-index: 200000;
}

.help_in_slide:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover.png);
	cursor: pointer;
}

.help_in_fancybox {
	background-image:url(/vishEditor/images/icons/helptutorial_circle.png);
	position: absolute;
	margin-top: -1px;
	margin-right: -5px;
	top: 0px;
	right: 30px;
	margin-top: -1px;
	margin-right: -5px;
}

.help_in_fancybox:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover.png);
	cursor: pointer;
}

#recomended_browsers {
	margin-top: 35px;
	height: 115px;
}

.browser_img { 
	max-height: 70px;
  	max-width: 70px;
	display: block;
	margin: auto;
}

.browserTitle {
	font-family:Helvetica;
  	font-size: 15px;
	display: block;
	padding: 5px;
	color: #9B999D;
}

.recomended_browser {
	width: 150px;
	float: left;
}

#help_template_selection, #help_quiz_selection {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_tp.png);
	position: absolute;
	margin-top: -145px;
	right: 21px;
}

#help_excursion_selection {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_tp.png);
	position: absolute;
	margin-top: -43px;
	right: 21px;
}

#help_smartcard_selection {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_tp.png);
	position: absolute;
	margin-top: -43px;
	right: 21px;
}

#help_smartcard_selection:hover, #help_excursion_selection:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover_tp.png);
	cursor: pointer;
}

#help_themes_selection {
	position: absolute;
	margin-top: -88px;
	right: 21px;
	cursor: pointer;
}

#help_themes_selection:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover_tp.png);
	cursor: pointer;
}


#help_template_selection:hover, #help_quiz_selection:hover {
	background-image:url(/vishEditor/images/icons/helptutorial_circle_hover_tp.png);
	cursor: pointer;
}

/* Joyride positions */

.tut_with_arrow span.joyride-nub {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color:  #0066ff;
}

.tut_with_arrow_up span.joyride-nub {
	border-bottom-color: #0066ff;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
}

.tut_without_arrow span.joyride-nub {
	display: none;	
}

.tut_welcome {
	top: 163px;
	left: 450px;
}

.tut_savedetails {
	top: 452px;
	left: 394px;
}

.tut_savedetails span.joyride-nub {
	bottom: -28px;
	left: 341px;
}

.tut_welcome_exc {
	top: 300px;
	left: 255px;
}

.imagetutflash {
	position: absolute;
	top:98px;
	left: 420px;
}

.imagetutflash2 {
	position: absolute;
	top:202px;
	left:399px;
}

.tut_menubar {
	top: 510px;
	left: 255px ;
}

.tut_menubar span.joyride-nub {
	bottom: -28px;
	left: 190px;
}

.tut_savepresentation {
	top: 542px;
	left: 505px;
}

.tut_savepresentation span.joyride-nub {
	bottom: -28px;
	left: 341px;
}

.tut_addslide {
	top: 470px;
	right: 319px;
}
.tut_templatesel {
	top: 250px;
	left:255px;
}

.tut_template {
	top: 50px;
	left: 55px;
	width: 800px;
}

#textimagetut {
	padding-left: 200px;
	position:absolute;
	margin-top: -50px;
}

#imageimagetut {
	padding-left: 200px;
	position:absolute;
	margin-top: -50px;
}
#objectimagetut {
	padding-left: 200px;
	position:absolute;
	margin-top: -50px;
}
#videoimagetut {
    margin-top: -48px;
    padding-left: 200px;
    position: absolute;
}

#deleteimagetut {
	margin-top: -42px;
	padding-left: 200px;
	position:absolute;
}

#delimagetut {
	margin-top: -40px;
	padding-left: 200px;
	position:absolute;
}

#textedimagetut {
	margin-left: 50px;
	margin-top: 5px;
}

#contentusetut {
    left: 405px;
    position: absolute;
    top: 378px;
    width: 341px;
}

.tut_fancy_index {
	top: 85px;
	left: 280px;
	width: 550px;
}

.tut_preview {
	top: 368px;
	left: 410px;
}

.tut_search {
	left:400px;
	top:192px;
}

.tut_search span.joyride-nub {
	left: 340px ;
	top:-29px;
}
	
iframe {
	width: 100%;
	height: 100%;
	border: none;
}
	

/** Slides bar **/

.add_slide_button:hover {
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	outline: 0;
	opacity: 0.8;
}

/* Remove outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

div.snapshot_wrapper{
	border: 10px #9E1F63 solid;
	width: 100%;
	height: 100%;
	overflow: scroll;
	position : relative;
}

iframe.snapshot_content{
	border: none;
	position : absolute;
	width    : 1024px;
	height   : 12000px;
	overflow: hidden;
	-moz-transform: scale(1.0);
	-moz-transform-origin: 0 0;
	-o-transform: scale(1.0);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.0);
	-webkit-transform-origin: 0 0;
	-ms-transform: scale(1.0);
	-ms-transform-origin: 0 0;
}

.selectedSlideThumbnail {
	opacity: 1 !important;
	border: 1px solid #005fdd;
}

.selectedSubslideThumbnail {
	opacity: 1 !important;
	border: 1px solid #005fdd !important;
}

.excursionSelectedInCarrousel, .smartcardSelectedInCarrousel {
	opacity: 1.0 !important;
	border: 2px solid #005fdd;
}

img.excursionSelectedInCarrousel:active , img.smartcardSelectedInCarrousel:active {
	opacity: 1.0 !important;
}


/* Flashcards */

div.change_bg_button {
	position: absolute;
	left: 325px;
	top: 225px;
	background: url(/vishEditor/images/flashcard/flashcard_add_img_button.png);
	width: 150px;
	height: 150px;
	cursor: pointer;
}

div.change_bg_button:hover {
	background: url(/vishEditor/images/flashcard/flashcard_add_img_button_hover.png);
}

div.draggable_sc_div {
	display: block;
	position: absolute;
	margin-top: -20px;
	margin-left: 12px;
	opacity: 1;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

div.draggable_sc_div img.fc_draggable_arrow {
	background-color: transparent;
	opacity: 1.0 !important;
}

div.draggable_sc_div img.fc_draggable_arrow:active {
	border: none !important;
	opacity: 1.0 !important;
}

div.draggable_sc_div img.fc_draggable_arrow:hover {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow:   none !important;
	opacity: 1.0 !important;
}

p.draggable_number {
	position: relative;
	top: -58px;
	left: 0px !important;
	text-align: center;
	font-family: Helvetica;
	font-size: 15px;
}

/* Overwrite scrollbar style */
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar{
	overflow: visible !important;
}

.l11 {
	left: 400px;
	position: absolute;
	top: 88px;
}

#objectimagetut {
	margin-top: -48px;
	padding-left: 200px;
	position: absolute;
}

.l22 {
	left: 400px;
	position: absolute;
	top: 123px;
}

#quizimagetut {
	margin-top: -48px;
	padding-left: 200px;
	position: absolute;
}

.l33 {
	left: 400px;
	position: absolute;
	top: 159px;
}

#liveimagetut {
	margin-top: -48px;
	padding-left: 200px;
	position: absolute;
}

.tut_menubuttonpresentation span.joyride-nub {
	bottom: -28px;
	left: 37px;
}

.imagetut {
	float: left;
	padding-right: 44px;
}

.tutaddlink {
    left: 226px;
    position: absolute;
    top: 100px;
    width: 26px;
}

.tutresize {
    left: 246px;
    position: absolute;
    top: 136px;
    width: 25px;
}

.tutresize2 {
    left: 212px;
    position: absolute;
    top: 136px;
    width: 25px;
}

.tuttext {
    left: 167px;
    position: absolute;
    top: 177px;
    width: 243px;
}

.tutflashbg {
    left: 258px;
    position: absolute;
    top: 206px;
}

.tut_themes {
    left: 250px;
    position: absolute;
    top: 265px;
}

#menuButton {
	border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; margin-left: -5px; color: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; color: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none; background: url(/vishEditor/images/icons/opcion.png) no-repeat; font-weight: normal; color: none; }
.ui-widget-header { border: 1px solid #e78f08; background: #eeeeed  50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee; }

.excursions_repo_content {
	width: 100%;
	height: 230px;
	position: absolute;
}

.input_text_excursions {
	width: 345px !important;
}

img#message2img {
	padding-right: 10px;
}

img#message3img {
	padding-right: 10px;
}


/*
 * Virtual Tour styles
 */

.vt_canvas {
	width: 100%;
	height: 100%;
}

.vt_search {
	position: absolute;
	top: 0;
	left: 140px;
	top: 3px;
}

.vt_search_input {
	position: absolute;
	width: 486px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.25);
	height: 25px;
	padding-left: 4px;
	font-family: Helvetica;
}

.vt_search_input:hover {
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px inset;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px inset;
	box-shadow: rgba(0,0,0,0.3) 0 1px 2px inset;
	border: 1px solid #4d90fe;
}

.vt_search_button {
	position: absolute;
	background: #4d90fe !important;
	background-color: #3079ed !important;
	background-image: -webkit-linear-gradient(top, #4d90fe,#4787ed) !important;
	left: 495px;
	width: 44px;
	height: 30px;
	padding: 0px;
	top: -1px;
}

.vt_search_button_img {
}

span.poi_label {
	font-size: 17px;
	position: relative; 
	left: -6px; 
	top: -33px;
	white-space: nowrap; 
	border: none;
	padding: 2px; 
	background-color: transparent;
	font-family: Helvetica;
}

div.poi_label_container {
	position: absolute; 
	display: none;
}

/*
 * A class of the Google Maps API Autocomplete class
 */
.pac-container {
	z-index: 2000 !important;
	font-family: Helvetica;
}

.pac-container:after {
/*  content: "Powered by Google  ";
  font-size: 10px;*/
}

.pac-container > .pac-item {
	padding: 4px 4px;
}


/* Toolbar Button styles */

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: 'Open Sans', sans-serif;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover, .btn:focus {
	color: #ffffff;
	text-decoration: none;
}

.btn:active, .btn.active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #357ebd;
	border-color: #3071a9;
}

.btn-small {
	padding: 5px 9px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.select_text {
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.bgtoolpos {
	float: right;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc !important;
	height: 54px;
	padding-left: 5px;
	margin-right: -20px;
	margin-top: 0px;
	padding-top: 4px;
	border-right: none;
	padding-right: 4px;
}

.lasticonborder {
	border-right: none;
}


/* scroll bar */

.mCSB_container {
	font-family: 'Open Sans', sans-serif;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #A3A1A1;
	filter: "alpha(opacity=75)";
	-ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_draggerRail {
	background: #000;
	background: rgba(155, 154, 154, 0.4);
	filter: "alpha(opacity=40)";
	-ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background: #9E9E9E;
	filter: "alpha(opacity=85)";
	-ms-filter: "alpha(opacity=85)";
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background: #6B6B6B;
	filter: "alpha(opacity=85)";
	-ms-filter: "alpha(opacity=85)";
}


/* Templates selection panel */

.templateselectlist {
	border: 1px solid #ccc;
	width: 642px;
	height: 302px;
	margin-bottom: -31px;
	border-radius: 6px;
}

.templateselectlist2 {
	border: 1px solid #ccc;
	width: 642px;
	height: 102px;
	margin-bottom: -24px;
	border-radius: 6px;
}