#toolbar_wrapper {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
height: 57px;
width: 1200px;
  margin: 0px 0px 0px 0px; /* top margin, right margin, bottom margin, left margin */
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1;
  overflow: visible;
box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
z-index: 10;
}

#toolbar_menu , #toolbar_presentation, #toolbar_element {
  display: inline-block;
  height: 57px;
  min-height: 50px;
  text-align: center;
}

#toolbar_menu {
    border-right: 1px solid #ccc;
    min-width: 121px;
    float: left;
}

#toolbar_menu .icon-button{
  float: left;
margin-right: 20px;
}

#toolbar_presentation {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #ccc;
    min-width: 485px;
    float: left;
}

#toolbar_element {
    padding-right: 5px;
    padding-left: 5px;
    min-width: 425px;
    text-align: left;
    max-width: 620px;
}

.toolbar_presentation_wrapper{
  display: inline-block;
  min-width: 75px;
  text-align: center;
  margin-top: 4px;
  border-right: 1px solid #E9E9E9;
}


.toolbar_presentation_wrapper > p {
  cursor: default;
  font-family: 'Open Sans', sans-serif;
}

.icon-button {
  font-size: 18px;
}

.toolbar_presentation_wrapper_disabled {
  opacity: 0.2;
}

.toolbar_presentation_wrapper_disabled > * {
  cursor: default !important;
}

.toolbar_prseentation_title{
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0px 5px 0px 5px;
}

.toolbar_icon{
    top: -1px;
    cursor: pointer;
    height: 21px;
    margin: 1px 10px 0 8px;
    border: 1px solid #EFEFEF;
}


.toolbar_bigicon{
    cursor: pointer;
    height: 30px;
    margin: 0;
    border: none;
}

.toolbar_bigicon:hover{
  opacity: 1;
}

#toolbarborder {
  border: none;
  margin-bottom: 12px;
}