#toolbar_wrapper {
	border: 1px solid #ccc;
	background-color: #fff;
	display: inline-block;
	height: 58px;
	width: 1158px;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
	overflow: visible;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.1);
	z-index: 10;
}

#toolbar_menu , #toolbar_presentation, #toolbar_element {
	display: inline-block;
	height: 57px;
	min-height: 50px;
	text-align: center;
}

#toolbar_menu {
	border-right: 1px solid #ccc;
	min-width: 159px;
	float: left;
}

#toolbar_menu .icon-button {
	float: left;
	margin-right: 20px;
}

#toolbar_presentation {
	padding-right: 8px;
	padding-left: 8px;
	min-width: 475px;
	float: left;
	-webkit-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.05);
	box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.05);
}

#toolbar_element {
	padding-left: 1px;
	min-width: 425px;
	text-align: left;
	max-width: 620px;
}

#toolbar_element > div {
	display: inline-block;
}

.toolbar_presentation_wrapper {
	display: inline-block;
	min-width: 75px;
	text-align: center;
	margin-top: 4px;
}

#toolbar_text {
	position: absolute;
	margin-left: 10px;
}

.toolbar_presentation_wrapper_slideTools {
	min-width: 76px;
}

.toolbar_presentation_wrapper > p {
	cursor: default;
	font-family: 'Open Sans', arial, sans-serif;
}

.toolbar_presentation_wrapper img:not(.big_toolbar_icon){
	max-height: 27px;
	max-width: 27px;
}

.toolbar_presentation_wrapper button {
	height: 32px;
	width: 39px;
}

button.btn-toolbarElementWrapper {
	padding: 2px 2px;
}

.icon-button {
	font-size: 18px;
}

.toolbar_presentation_wrapper_disabled {
	opacity: 0.2;
}

.toolbar_presentation_wrapper_disabled * {
	cursor: default !important;
}

.toolbar_presentation_wrapper_loading {
	opacity: 0.2;
	cursor: wait !important;
}

.toolbar_presentation_wrapper_loading * {
	cursor: wait !important;
}

.toolbar_presentation_title {
	text-align: center;
	font-size: 12px;
	padding: 0;
	margin: 0px 10px 0px 10px;
}

.toolbar_icon {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 17px;
	height: 43px;
	cursor: pointer;
	opacity:0.6;
}

.big_toolbar_icon {
	width: 41px;
	height: 32px;
	margin: 0px 0px -4px 0px;
	opacity: 0.9;
}

.toolbar_icon:hover, img.big_toolbar_icon:hover {
	opacity: 1;	
}

.toolbar_icon:active {
	-webkit-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.15);
	box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.15);
}

img.toolbar_icon {
	height: 24px;
	width: 23px;
}

.toolbar_bigicon {
	cursor: pointer;
	height: 30px;
	margin: 0;
	border: none;
}

.toolbar_bigicon:hover {
	opacity: 1;
}

.withLeftBorder {
	border-left: 1px solid #E9E9E9;
}

.toolbar_presentation_wrapper_disabled.withLeftBorder {
	border-left: 1px solid #A3A3A3 !important;
}

.withRightBorder {
	border-right: 1px solid #E9E9E9;
}

.toolbar_presentation_wrapper_disabled.withRightBorder {
	border-right: 1px solid #A3A3A3 !important;
}

.withoutRightBorder {
	border-right: none;
}

.withoutLeftBorder {
	border-left: none;
}

#toolbar_background_wrapper, #toolbar_evideo_wrapper {
	min-width: 88px;
}