#menubar {
	background-color: rgba(55,55,55,0.3);
	width: 100%;
	height: 70px;
	position: fixed;
	bottom:0px;
	left: 0px;
	border-top: 2px solid black;
	border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
}

.barbuttonaddsave{
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 14px;
	background-color: #CCC;
	border-radius: 5px; 
}

#addslide_div{
	background: url(/assets/add.png);
}
#addslide_div:hover{
	background: url(/assets/clicked/add_clicked.png);
}
#save_div{
	background: url(/assets/save.png);
}
#save_div:hover{
	background: url(/assets/clicked/save_clicked.png);
}

#textthumb {
	background: url(/assets/txt.png);
	width: 44px;
	height: 55px;
}

#textthumb:hover {
	background: url(/assets/clicked/txt_clicked.png);
	width: 44px;
	height: 55px;
}

#imgthumb {
	background: url(/assets/img.png);
	width: 44px;
	height: 55px;
}

#imgthumb:hover {
	background: url(/assets/clicked/img_clicked.png);
	width: 44px;
	height: 55px;
}

#flashthumb {
	background: url(/assets/flash.png);
	width: 44px;
	height: 55px;
}

#flashthumb:hover {
	background: url(/assets/clicked/flash_clicked.png);
	width: 44px;
	height: 55px;
}

#videothumb {
	background: url(/assets/video.png);
	width: 44px;
	height: 55px;
}

#videothumb:hover {
	background: url(/assets/clicked/video_clicked.png);
	width: 44px;
	height: 55px;
}

.barbutton {
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 7px;
	margin-left: 7px;
}

.image_barbutton{
	width: 60px;
	height: 60px;
}

#thumbcontent{
	width: 100%;
	height: 90px;
}

.templatethumb{
	border: 1px solid transparent;
	width: 100px;
	height: 75px;
	background-color: rgb(240,240,240);
	margin-right: 20px;
	float: left;
	color: black;
	cursor: pointer;
}

.templatethumb img{
	width:100%;
	height:100%;
}

.templatethumb:hover{
	border: 1px solid black;
}

.grey_background{
	background-color: rgba(100,100,100,0.4);
}

.editable:hover{
	background-color: rgba(217,188,43,0.4);
}

.menuicon{
	float: left;
	width: 45px;
	height: 55px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.menuicon img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.menu{
	width: 100%;
	height: 120px;
}

.theslider{
	width: 300px;
	height: 40px;
	position: absolute;
}

#thumbcontent{
	width: 400px;
	height: 300px;
	padding: 20px 20px 20px 20px;
}

/*****fancybox tabs ****************/
.outer_box{
	width: 800px;
	height: 600px;
}

.fancy_tabs{
	background: white;
}

.fancy_tabs ul{
	list-style-type: none;
	margin: 0;
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
}

.fancy_tabs li{
	display: inline;
}

.fancy_tabs li a{
	display: inline-block;
	padding: 0.5em 1.5em;
	border-right: 1px solid #D3E8F6;
	text-decoration: none;
	background: #244974;
	color: white;
}

.fancy_tabs li a:hover{
	background:white;
	color:#244974;
	border-right-color:#d3e8f6;
}

.fancy_tabs li a.fancy_selected{
	background:#C4C4C4;
	color:#244974;
}

.fancy_tab_content{
	padding: 30px 0px 20px 20px;
}

.edit_pencil{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
}

.edit_pencil_img{
	width: 30px;
	height: 30px;
}

.addpicture {
	weight: 50px;
	height: 50px;
}

#picture_fancybox{
	background: url(/assets/background_img_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#flash_fancybox{
	background: url(/assets/background_flash_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}

#video_fancybox{
	background: url(/assets/background_video_fancybox.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}
