/*
	TEMPLATE 1: "Espiritu minimalista"
	by Víctor Sánchez

	Tres bloques: título + texto + imágen;
*/

.t1_header{
	padding-top: 10px;
 	padding-bottom: .7em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t1_left{
	margin-top:15px;
	position:relative;
	width: 48%;
	height: 85%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t1_right{
	margin-top: 15px;
	position:relative;
	width: 48%;
	height: 85%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t1_text{
	text-align: justify;
	color: black;
}

.t1_image{
	width: 300px;
}

.t1_video{
	max-width: 100%;
	max-height: 100%;
}

.t1_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

.t1_object{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 2: "Espiritu minimalista"
	by Víctor Sánchez

	Dos elementos título + imágen fullscreen
*/

.t2_header{
	padding-top: 15px;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 98.5%;
	overflow: hidden;
	position: relative;
}

.t2_left{
	margin-top:15px;
	position:relative;
	width: 98%;
	height: 85%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;
}

.t2_image{
	width: 600px;
}

.t2_video{
	max-width: 100%;
	max-height: 100%;
}

.t2_swf{
	width: 100%;
	height: 100%;
}

.t2_object{
	width: 100%;
	height: 100%;
}

.t2_applet{
	width: 100%;
	height: 100%;
}

.template_flashcard{
	width: 100%;
	height: 100%;
}

/*
	TEMPLATE 3: "fuuuuuu"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t3_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t3_left{
	margin-top:5px;
	position:relative;
	width: 30%;
	height: 90%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t3_center{
	margin-top: 5px;
	position:relative;
	width: 30%;
	height: 90%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}
.t3_right{
	margin-top: 5px;
	position:relative;
	width: 30%;
	height: 90%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t3_text{
	text-align: justify;
	color: black;
}

.t3_image{
	width: 300px;
}

.t3_video{
	max-width: 100%;
	max-height: 100%;
}

.t3_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 4: "fuuuuuu2"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t4_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t4_left{
	margin-top:5px;
	position:relative;
	width: 60%;
	height: 90%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t4_right2{
	margin-top: 5px;
	position:relative;
	width: 20%;
	height: 40%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}
.t4_right1{
	margin-top: 5px;
	position:relative;
	width: 20%;
	height: 40%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t4_text{
	text-align: justify;
	color: black;
}

.t4_image{
	width: 300px;
}

.t4_video{
	max-width: 100%;
	max-height: 100%;
}

.t4_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 5: "fuuuuuu3"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t5_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t5_right{
	margin-top:5px;
	position:relative;
	width: 60%;
	height: 90%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t5_left2{
	margin-top: 5px;
	position:relative;
	width: 20%;
	height: 40%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}
.t5_left1{
	margin-top: 5px;
	position:relative;
	width: 20%;
	height: 40%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t5_text{
	text-align: justify;
	color: black;
}

.t5_image{
	width: 300px;
}

.t5_video{
	max-width: 100%;
	max-height: 100%;
}

.t5_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 6: "fuuuuuu4"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t6_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t6_right1{
	margin-top:5px;
	position:relative;
	width: 50%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t6_right2{
	margin-top:5px;
	position:relative;
	width: 50%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}
.t6_left{
	margin-top: 5px;
	position:relative;
	width: 30%;
	height: 80%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t6_text{
	text-align: justify;
	color: black;
}

.t6_image{
	width: 300px;
}

.t6_video{
	max-width: 100%;
	max-height: 100%;
}

.t6_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 7: "fuuuuuu5"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t7_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t7_left1{
	margin-top:5px;
	position:relative;
	width: 50%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t7_left2{
	margin-top:5px;
	position:relative;
	width: 50%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}
.t7_right{
	margin-top: 5px;
	position:relative;
	width: 30%;
	height: 80%;
	float: right;
	font-size: 18px;
	overflow:hidden;	
}

.t7_text{
	text-align: justify;
	color: black;
}

.t7_image{
	width: 300px;
}

.t7_video{
	max-width: 100%;
	max-height: 100%;
}

.t7_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	TEMPLATE 8: "fuuuuuu6"
	by Néstor Toribio

	Cuatro Bloques: título + texto + imágen + texto;
*/

.t8_header{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	font-size: 24px;
	height: 30px;
	width: 100%;
	overflow:hidden;	
	position: relative;
}

.t8_center1{
	margin-top:5px;
	position:relative;
	width: 100%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t8_center2{
	margin-top:5px;
	position:relative;
	width: 100%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;
}
.t8_center3{
	margin-top:5px;
	position:relative;
	width: 100%;
	height: 30%;
	float: left;
	border: 2px double transparent;
	margin-right: 2%;
	font-size: 18px;
	overflow:hidden;	
}

.t8_text{
	text-align: justify;
	color: black;
}

.t8_image{
	width: 300px;
}

.t8_video{
	max-width: 100%;
	max-height: 100%;
}

.t8_swf{
	height: 100%;
	position: absolute;
	bottom: 0;
}

/*
	OPEN QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only question, name and answer
*/

.question_title{
	padding-top: .2em;
 	padding-bottom: .3em;
	margin-top: -.2em;
	margin-left: -60px;
	padding-left: 60px;
	margin-right: -60px;
	padding-right: 60px;
	font-size: 24px;
	min-height: 24px;
	width: 99%;
}

.question_name{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.question_name_input{
	width: 600px;
}

.question_answer{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.question_answer_input{
	width: 600px;
	height: 300px;
	display: block;
}

.question_button{
	margin-left: 300px;
}

/*
	MULTIPLE CHOICE	QUESTION SLIDE
	by Enrique Barra

	css for quiz slide containing only question, and multiple choice answers
*/
.mc_answer{
	text-align: justify;
	color: black;
	font-size: 18px;
	display: block;
}

.mc_answer input{
	margin: 3px 10px 0px 5px;
}
